/* helpAndSupport.css */

.help-and-support-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: black /* Blue color, you can change this */
  }
  
  h2 {
    text-align: center;
    color: #28a745; /* Greenish color for subheadings, you can change this */
  }
  
  section {
    margin-bottom: 20px;
  }
  
  p {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    color: #333;
  }
  
  button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff; /* Blue color, you can change this */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3; /* Darker shade of blue on hover, you can change this */
  }
  