form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 1.25rem;
}

label {
    font-weight: bold;
    margin-top: 1em;
}

input,
textarea {
    padding: 0.5em;
    font-size: 1em;
    margin-top: 0.5em;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

button {
    padding: 0.5em 1em;
    font-size: 1em;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 1em;
    border-radius: 0.25rem;
}

button:hover {
    background-color: #0056b3;
}