.helpheader{
font-size: 3em;
color: gold;
margin-bottom: 50px;
text-decoration: underline;
}
.helpscoursename{
font-size: 25px;
margin-right: 16px;
}
.helpcoursenameform{
  height: 30px;
  width: 400px;
  font-size: 23px;
}
.helpstudentemail{
  font-size: 25px;
}
.helpstudentemailform{
  height: 30px;
  width: 400px;
  font-size: 23px;
}
.helpsubmit{
height: 40px;
width: 80px;
font-size: 20px;
color: darkblue;
background-color: white;
border-color: whitesmoke;
border-right-color: whitesmoke;
border-left-color: whitesmoke;
border-bottom-color: whitesmoke;
}
.contactsmaindiv{
margin-bottom: 60px;
}
.studentemaildiv{
margin-bottom: 40px;
}