
.SideBar{
  background-color: rgb(4, 4, 79);
  height: 100%;
  width: 150px;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;

  
}
.Appbody{
  margin-top: 50px;
  display:flex;
  flex-direction: row;
  height: 100vh;
  width:100vw;
  color:aliceblue;
  
  
}
.maintext{
  margin-left: 0px;
  font-size: 5.8em;
  
}

.links{
color: white;
padding-bottom: 20px;

}
.maintextP{
  color: gold;
  margin-left: 200px;
}