.grade-report-body {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

select {
  padding: 8px;
  margin-bottom: 20px;
}

.semester-grades {
  margin-bottom: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #746666;
  padding: 10px;
  text-align: left;
}

th {
  background-color: rgb(129, 143, 164);
}


