footer{
  background-color: rgb(44, 42, 88);
  width: 100%;
  text-align: center;
  padding: 30px 0;
  color: white; 
}

footer a{
  background-color: rgb(44, 42, 88);
  width: 100%;
  text-align: center;
  padding: 30px 0;
  color: white;
}