.dab{
  background-image: url('./Images/campus.jpg');
  background-size: cover; 
  background-position: center; 
  color:white;
}

.headd{
  text-align: center;
  font-size:40px;
  font-weight:bold;
  margin-top: 15px;
  padding:20px;
text-decoration:underline;
}

.updown{
  margin-top: 45px;
  background-color: rgb(63, 59, 59);
  display:flex;
  align-items: center;
  opacity:0.9;
  justify-content: flex-end;
}
.updown1{
  list-style: none;
  margin-left:20px;
  padding-top: 5px;
  color:white;
}
ol li{
  font-weight: bold;
}
ul li{
  font-weight: 500;
}

ul span ,.ans{
  font-weight: bold;
  font-family: script;
}
.explain{
  background-color: rgb(63, 59, 59);
  opacity:0.9;
}
span{
  font-family: sans-serif;
  color: white;
}

.heat{
  background-color: rgb(63, 59, 59);
  opacity:0.9;
  height:1220px;
  width:2200px;
  margin-right:20px;
}
.overall{
  display: flex;
  justify-content: space-between;

}
.emoji{
  opacity:0.4;
}