.body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin-left: 50px;
  
}

.details {
  width: 600px;
}

.details ul {
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

.details h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

.details li {
  font-size: 20px;
  margin-bottom: 10px; 
}

.contact {
  flex-grow: 1;
}

.img{
  width: 85%;
  height: 65%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 30px;
  margin-top: 50px;
}

.sub {
  font-size: 20px;
}

.detail {
  margin-top: 45px;
}
