.image{
  display: inline;
}

.images{
  display: block;
  height: 40%;
  width: 60%;
}

.missing-grade-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.feature-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.feature {
  flex: 1 1 calc(50% - 10px);
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.feature h2 {
  color: #007bff;
}

.feature p {
  color: #333;
}

.text-center{
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
  font-size: 60px;
}

