/* NavBar.css */

.navbar-container {
    width: 200px;
    height: calc(100% - 80px); /* Adjusted height to ensure it starts after the header and ends before the footer */
    margin-top: 30px;
    position: fixed;
    top: 80px; /* Adjusted top margin to prevent overlap with the header */
    left: 0;
    bottom: 0; /* Added bottom to ensure it doesn't touch the footer */
    overflow-y: auto;
}

.navbar {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-list li {
    
    margin-bottom: 10px;
    list-style: none;
}

.navbar-list a {
    color: #2a1c48;
    text-decoration: none;
    display: block;
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s;
}

.navbar-list a:hover {
    background-color: #a3a1a1;
}
