.custom-navbar {
    background-color: black; /* Change this to the desired background color */
  }
  
  .custom-navbar .navbar-brand {
    color: #ffffff; /* Change this to the desired font color */
    font-family: 'Arial', sans-serif; /* Change this to the desired font family */
    font-size: 24px; /* Change this to the desired font size */
  }
  
  .custom-navbar .nav-link {
    color: #ffffff; /* Change this to the desired font color */
    font-family: 'Arial', sans-serif; /* Change this to the desired font family */
    font-size: 16px; /* Change this to the desired font size */
  }
  
  /* Add more styles as needed */
  