/* General Styles */
.instructor-contact {
    display: flex;
    justify-content: space-around;
    margin: 20px;
  }
  
  .instructor-list,
  .contact-form {
    flex: 1;
    padding: 20px;
  }
  
  .instructor-list h2,
  .contact-form h2 {
    color: #333;
    text-align: center;
  }
  
  /* Instructor List Styles */
  .instructor-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .instructor-list li {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Contact Form Styles */
  .sent {
    color: green;
    text-align: center;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact-form label {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .contact-form select,
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  .contact-form button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #45a049;
  }
  