.grade-report {
    font-family: 'Arial', sans-serif;
    margin: 20px;
  }
  
  h2 {
    color: #0e0c0c;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  th, td {
    border: 1px solid #c3b9b9;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #181717;
  }
  
  tr:hover {
    background-color: #181212;
  }