.instructor-contact {
    font-family: 'Arial', sans-serif;
    margin: 20px;
  }
  
  h2 {
    color: #333;
  }
  
  form {
    margin-top: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4caf50;
    color: #1e1084;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .confirmation {
    margin-top: 15px;
    color: #4caf50;
  }
  .la{
    color: black;
  }