.login-page {
    background: linear-gradient(to bottom right, rgba(121,161,128,1) 51%, rgba(2,0,36,1) 100%);
    margin: 70px 50px 80px 380px;
    padding: 50px;
    border-radius: 30px;
    padding-bottom: 80px;
    width: 40%;
}

input[type="text"], input[type="password"], select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 3em;
    border-radius: 15px;
    border: none;
}

fieldset {
    border: none;
    padding-top: 20px;
    padding-bottom: 30px;
}

#login {
    border: none;
    padding: 0 15px;
    border-radius: 5px;
    transition: all 0.2s ease;
}

.title {
    margin-top: 10px;
    padding: 10px 0;
    color: aliceblue;
    font-family: palatino, Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#login:hover {
    cursor: pointer;
}

#login:active {
    transform: scale(0.96);
}