/* App.css */

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Set the height of the container to the full viewport height */
  background-color: #f0f0f0;
  /* Example background color */
}