.footer-container {
    background-color: #171717;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }
  
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.li-big-font {
    font-size: 1.3rem;
    font-weight: 800;
}

.academics li {
    list-style-type: none;
    padding: 10px;
}
  
.contact-info li {
    list-style-type: none;
    padding: 10px;
  }

.quick-links li {
    list-style-type: none;
    padding: 10px;
  }
  
.quick-links a {
    color: #fff;
    text-decoration: none;
  }
  
.quick-links a:hover {
    color: #7d7d7d;
  }

.socials {
    display: flex;
    padding-top: 75px;
  }

.social-icons {
    padding: 5px;
    height: 20px;
    width: 20px;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: #fff;
  }
  
.copyright {
    text-align: center;
    margin-top: 40px;
  }
  