.footer {
  padding: 20px;
  background-color: rgba(124, 109, 109, 0.65);
}

.footer h3 {
  margin-bottom: 10px;
}

.footer p, .footer a {
  margin-bottom: 5px;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.quick-links{
  display:flex;
  flex-direction: column;
}

.footer-container{
  padding: 0;
  background-color: #b06262;
}

svg{
  height: 30px;
  margin-top: 10px;
}

.footer-upper{
  margin-bottom: 20px;
}

.social-media-links a{
  margin: 10px;
  margin-top: 0;
}

.footer-lower{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.copyright-info{
  text-align: left;
}

.social-media-links{
  margin-left: 70px;
}



