
.home-container {
  padding: 20px;
  background-color:  #f5f5f5;
  background-image: url(../Images/bg.jpg);
  background-size: cover;
  opacity: 0.8;
}

.home-content {
  max-width: 800px;
  margin: 0 auto;
}

.home-content h1 {
  font-size: 2em;
}

.home-content p {
  margin-bottom: 20px;
}

.home-navigation a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: rgb(3, 146, 146);
  font-weight: bold;
  transition: color 0.3s;
}

.home-navigation a:hover {
  color: rgb(0, 81, 81);
}

.home-highlights,
.home-featured-courses {
  margin-top: 40px;
}

.home-highlights h2,
.home-featured-courses h2 {
  color: #333;
}


