/* LandingPage.css */

.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(240, 240, 240, 1); 
  background-image: url(../Images/bg.jpg);
  background-size: cover;
  opacity: 0.87;
}

.landing-content {
  text-align: center;
  max-width: 800px;
  padding: 20px;
}

.cta-buttons {
  margin-top: 20px;
}

.login-button,
.signup-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
  background-color: rgb(2, 189, 189);
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.login-button:hover,
.signup-button:hover {
  background-color:  rgb(4, 144, 144);
}

.key-features {
  margin-top: 40px;
}

.key-features h2 {
  color: #615353;
}

.featured-announcements {
  margin-top: 40px;
}

.featured-announcements h2 {
  color: #333;
}

/* Add more styling based on your design preferences */
