.momo{
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-left: 10px;
  margin-bottom: 20px;
}
#med{
  font-size: 32px;
  display: flex;
  justify-content: center;
}
.po{
  display: flex;
  flex-direction: row;
  gap: 50px;
}
#mtn{
  background-color: rgb(225, 232, 244);
}