.loginpage{
    display: flex;
    display:block;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 400px;
    margin-top: 200px;

}
.ForgotPassword{
    margin-top: 10px;
}