/* Footer.css */
.center-align {
    text-align: center;
    background-color:yellow;
    color:blue;
    text-align: center;
  }

  /* Adjust the size of the social media icons */
.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; /* Add margin to separate from the contact information */
  }
  
  .social-media img {
    width: 30px; /* Set the desired width */
    height: 30px; /* Set the desired height */
    margin: 5px; /* Add some margin for spacing */
  }
  