:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    /* background-color: #242424; */
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    height:100% !important;
}

.mynavbar{
    width: 280px;
    /* height: 100%; */
    min-height: 80vh;
    /* min-height: 100%; */
}

.header{
    padding: 20px;
    background-color: skyblue; 
    min-height: 15vh;
}

.footer{
    padding: 20px;
    background-color: skyblue; 
    min-height: 10px;
    max-height: 60px;
}

body{
    height:100% !important;
} 

.missinggradebadge{
    font-weight: 8px !important;
    padding: 3px !important;
    vertical-align: top;
    top:10px;
position: relative;
/*     padding-right: 3px !important;
    padding-left: 3px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important; */
}

.divmissingcourse{
    padding-right: 5px;
}

.btnfilter{
    width: 150px;
   text-align: left;
}

.downloadaspdf{
    width: 150px;
   text-align: left;
}


.reportgradestable{
    width: 600px !important;
}

.reportgradesentrycontrol{
    text-align: left !important;
    width: 250px !important;
}

.reportgradeslabelcontrol{
    text-align: left !important;
    width: 100px !important;
}

.faqquestion{
    font-weight: bold;
}

.faqanswers{
 padding-left: 18px;
}

.divunilogo{
    padding-top: 20px;
   }

.unilogo{
    width: 250px; height: 50px;
}

.signinupcontrols{
    text-align: right;
}


.btnsigninup{
    padding-left: 5px;
    padding-right: 5px;
}

.btnlockandfeel{
    background-color: orange;
    color: black;
    font-weight: bold;
}