body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
  
body {
  background-image:  url(https://www.shutterstock.com/image-photo/graduation-caps-thrown-air-260nw-658847998.jpg);
  font-family: Arial, sans-serif;
  background-repeat: no-repeat;
  background-size:cover;
}

.login-wrapper {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top:10%;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type="text"]
.form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.form-group input[type="submit"] {
  background-color:burlywood;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.form-group input[type="submit"]:hover {
  background-color:rgb(23, 23, 39);

}
.form-group input:hover{
  background-color:cornsilk ;
}

.forget-password {
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
}
 
body {
  margin: 0;
  padding: 0;
}

.img {
  width: 30%;
  height: auto;
  margin-left: 10%;
}

.notification-bell {
  font-size: 24px;
  color: #000000;
  margin-left: 20%;
}

.nav {
  background-color: antiquewhite;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.social-media-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media-icon {
  font-size: 24px;
  margin: 10px;
  color: #000;
  transition: color 0.3s ease;
}

.social-media-icon:hover {
  color: #007bff;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
}

.search-btn {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
#second-header {
  background-color:rgb(72, 71, 71);
  padding: 10px;
  color:#f3f3f3;
  border-bottom-left-radius:20px;
  border-bottom-right-radius:20px;
}

#second-header .nav2 {
  display: flex;
  justify-content: center;
}

#second-header .header-menu {
  list-style: none;
  display: flex;
  align-items: center;
}

#second-header .header-menu li {
  margin-right: 50px;
}

#second-header .header-menu li:last-child {
  margin-right: 0;
}

#second-header .header-menu li a {
  text-decoration: none;
  color:#f3f3f3;
  font-weight: bold;
}

#second-header .header-menu li a:hover {
  color:blue;
}
body {
  font-family: "Lato", sans-serif;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 16.5%;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 40px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display:block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size:20px;
  background-color:rgb(58, 56, 56);
  cursor: pointer;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}


@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.container3 {
  max-width: 960px;
  margin: 20px auto;
  padding: 20px;
  background-color: #eff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 10%;
}
.side-textbox {
  width: 200px;
  height: 300px;
  background-color: #fff;
  padding: 10px;
  float: right;
  margin-left: 20px;
  margin-top: -29% ;
}
  
.side-textbox button {
  display: block;
  margin-bottom: 20px; 
  margin-right: 10px; 
  width: 180px;  
  height: 40px;  
  background-color:rgb(75, 73, 73);  
  color: white; 
  border: none;  
  text-align: center;  
  text-decoration: none;  
  font-size: 16px;  
  cursor: pointer;  
  text-decoration: none;
}

.side-textbox button a {
  text-decoration: none;  
  color:#eff
}

.side-textbox button a:hover {
color:blue; 
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color:rgb(87, 84, 84);
  padding: 20px;
  border-top-right-radius:10px;
  border-top-left-radius:10px ;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #eff;
}

.footer-section {
  margin-right: 20px;
}

.footer-section h3 {
  margin-bottom: 10px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}
.footer-section a {
  text-decoration: none;
  color: #eff;
}
.footer-section a:hover {
  color: blue;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.form-container {
  max-width: 700px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

h1 {
  text-align: center;
}


#flex{
  display: flex;
  flex-direction: row;
}

.side-text  {
  width: 200px;
  height: 300px;
  background-color: #fff;
  padding: 10px;
  float: right;
  margin-left: 20px;
  margin-top:5px ;
}
  
.side-text button {
  display: block;
  margin-bottom: 20px; 
  margin-right: 10px; 
  width: 180px;  
  height: 40px;  
  background-color:rgb(75, 73, 73);  
  color: white; 
  border: none;  
  text-align: center;  
  text-decoration: none;  
  font-size: 16px;  
  cursor: pointer;  
  text-decoration: none;
}

.side-text button a {
  text-decoration: none;  
  color:#eff
}

.side-text button a:hover {
color:blue; 
}