form {
    padding: 10px;
}

form>div {
    padding: 10px;
    position: relative;
    font-size: 1.3em;
}

form>div i {
    position: absolute;
    top: 22px;
    margin-left: 10px;
    opacity: 0.6;
}

.formBox {
    padding: 15px;
    text-align: center;
    min-height: 50vh;
    min-width: 50vw;
    display: flex;
    flex-direction: column;
    background: #f8f8f885;
    border-radius: 30px;
    backdrop-filter: blur(10px);
}

h2 {
    margin-bottom: -10px;
}

p {
    font-weight: 500;
    font-size: 1.1em;
}

form>div input {
    height: 2em;
    width: 70vw;
    padding-left: 40px;
    font-size: 1em;
    border-radius: 20px;
    outline: none;
    border: 1px solid #b5adad;
    background-color: #f1f1f1;
}

div>input:focus {
    border: 1px solid #6f6a6a;

}

form>div:hover>i {

    opacity: 1;
    transition: opacity 1s;
}

textarea {
    border: none;
    width: 70vw;
    border-radius: 20px;
    padding: 10px;
    outline: none;
    font-size: 1em;
}



.ContactButton {
  width: 130px;
  height: 50px;
  background:transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 8px;
  cursor:pointer;
  font-size: 16px;
  color: #00d689;
  font-weight: 500;
  margin-left: 40px;
  transition: .5s;
}

.navigation a{
  position: relative;
  font-size: 16px;
  color: #00d689;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navigation a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #00d689;
  color: #fff;
  border-radius: 5px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .5s;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.navigation .ContactButton {
  width: 130px;
  height: 50px;
  background:transparent;
  border: 2px solid #00d689;
  outline: none;
  border-radius: 8px;
  cursor:pointer;
  font-size: 13px;
  color: #00d689;
  font-weight: 500;
  margin-left: 40px;
  transition: .5s;
}

.navigation .ContactButton:hover {
  background: #00d689;
  color: #fff;
}


@media screen and (min-width:900px) {
    form>div input {
        width: 50vw;
    }

    textarea {
        width: 50vw;
    }
}

.ContactPane {
  margin-top: 50px;
  border-radius: 8px;
  border-color: #2C2A58;
  border: 15px;
  text-align: center;
  background-color: #00d689;
}

.ContactHeader {
  text-align: center;
}

.ContactPane:hover {
  box-shadow: 10px 10px 10px #2c2a5895;
}

.ContactText {
  font-family: 'Segoe UI';
  font-size: 17px;
  color: aliceblue;
}

.collapsible {
  background-color: rgba(27, 68, 190, 0.875);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #322f6f;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
