.body {  
    font-family: Arial, sans-serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    padding: 0;
 }
 .header{
    min-height: 0.5vh;
    width: 100%;
    background-color: burlywood;
    background-position: center;
    position: relative;
 }

.form {
        width: 50px;
        text-emphasis-color: #336533;
      }
.form-container {
    display: flex;
    background-image: linear-gradient(rgba(46, 47, 52, 0.7), rgba(90, 97, 126, 0.7)),url(MR.webp.webp);
    background-position: center;
    background-size: cover;
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
          }

.label {
            display: block;
            margin-top: 10px;
        }

.input[type="text"], textarea {
            width: 100%;
            margin-top: 5px;
        }

.button {
            display: block;
            width: 100px;
            margin: 20px auto;
        }
.nav{
        display: flex;
        padding: 2% 6%;
        justify-content: space-between;
        align-items: center;
  }
               
.nav img {
    width: 100px;
}

.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
        list-style: none;
        display: inline-block;
        padding: 5px;
        position: relative;
        }
.nav-links ul li a{
    color: rgb(67, 56, 56);
    text-decoration: none;
    font-size: 12px;
        }
.nav-links ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: #c9f55a;
    display: block;
    margin: auto;
    transition: 0.5s;
 }
.nav-links ul li:hover::after{
       width: 100%;
}