
.feature-card {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    height: 100%;
  }

.feature-icon {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #007bff; /* Change the color as needed */
  }

.background{  
background-color: rgb(0, 0, 0);
}


.decorated-login-btn {
  background: linear-gradient(to right, #4facfe, #00f2fe); /* Add your preferred gradient colors */
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  text-align: left;
}

.decorated-login-btn:hover {
  background: linear-gradient(to right, #43e97b, #38f9d7); /* Change gradient on hover */
}




.landing-container {
  padding: 20px;
  text-align: center;
}

.title {
  color: #333;
  font-size: 2em;
}

.intro {
  color: #666;
  margin: 20px 0;
}

.features-title {
  color: #333;
  font-size: 1.5em;
}

.features-list {
  list-style-type: none;
  padding: 0;
}

.login-link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  color: #fff;
  background-color: #007bff;
  text-decoration: none;
}