.instructor-contact-page {
  max-width: 90vw;
  margin: 0 auto;
  padding: 50px;
  font-family: "Oxygen", sans-serif; 
  color: #333;
  background-image: url("../Assets/futuristic.avif"); 
  background-size: cover;
  background-position: center;
}

.instructors-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  gap: 20px;
  margin-bottom: 40px;
}

.instructor-card {
  border: none;
  border-radius: 10px;
  padding: 20px;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.2s ease;

  &:hover {
    transform: scale(1.05);
    background-color: #e0f7fa;
  }
}

.selected {
  background-color: #007bff;
  color: #fff;
}

.instructor-name {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.instructor-email {
  color: #777;
  font-weight: lighter;
  margin-bottom: 5px;
}

.contact-details-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.send-email-section {
  display: flex;
  flex-direction: column;
  width: 500px; 
  margin: 0 auto;
}

.email-textarea {
  border: none;
  border-radius: 5px;
  padding: 20px;
  font-size: 16px;
  resize: none;
  font-family: inherit;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  background-color: #f5f5f5;

  &:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

.send-email-button {
  background-color: #4caf50;
  color: #fff;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.2s ease;
  margin-top: 10px;

  &:hover {
    background-color: #45a049;
  }
}

.passages-section {
  line-height: 1.8;
  font-size: 16px;
  color: #666;
  margin-top: 40px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
}



@media only screen and (max-width: 768px) {
  .instructor-contact-page {
    padding: 30px;
  }

  .instructors-section {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .send-email-section {
    width: 100%;
  }

  .passages-section {
    font-size: 16px; 
  }
}