.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 120px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
  }
  
  input[type="password"] {
    letter-spacing: 1px;
  }
 
  .tap{
    align-items: center;
    position: relative ;
    left: 1%;
    font-size: 14px;
    border-radius:8px ;
  cursor: pointer;
  width: 60px;
  background-color: rgb(63, 63, 238);
  color: white;
  }
  
  /* Add more styles or modify as needed */
  