.titleTypeOne{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.titleTypeOne small{
    text-transform: uppercase;
}
.headeing-H{
    display: grid;
    align-items: center;
    gap: 80px;
    grid-template-columns: 1fr auto 1fr;
}
.headeing-H .line{  
    background: var(--color-dark-Ex);
    height: 1px; 
}


/* ....................Max-width:1024px...................... */
@media (max-width:1024px) {
    .headeing-H{
        gap: 40px;
    }
}
/* ....................Max-width:600px...................... */
@media (max-width:1024px) {
    .headeing-H{
        gap: 20px;
    }
}