.container{
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  margin: auto;
  margin-top: 2oopx;
  width: 6oopx;
  padding-bottom: 30px;
  background-repeat: no-repeat;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
  }
  .text {
    color: rgb(224, 165, 16) ;
    font-size: 48px;
    font-weight: 700;
  }
  .underline {
    width: 61px;
    height: 6px;
    background: rgb(8, 8, 129);
    border-radius: 9px;
  }
  .inputs{
      margin-top: 55px;
      display: flex;
      flex-direction: column;
      gap: 25px;
      text-align: center;
  }
  .input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 300px;
    height: 40px;
    background: white;
    border-radius: 15px;
  }
  .input input{
      height: 40px;
      width: 300px;
      background: transparent;
      border-radius: 15px;
      color: gray;
      font-size: 15px;
  }
  .textarea {
    width: 300px;
    display: flex;
    align-items: center;
    margin: auto;
    background: white;
    border-radius: 15px;
  }
.submit-container {
display: flex;
gap: 30px;
margin: 60px auto;
}
.submit {
display: flex;
justify-content: center;
align-items: center;
width: 100px;
height: 20px;
color: white;
background: blueviolet;
border-radius: 50px;
font-size: 19px;
font-weight: 700;
cursor: pointer;
}
