.loginbox{
  width: 100%;
  height: auto;
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  object-fit: cover;
  image-resolution: 1000dpi;
}


.loginbox{
  width: 380px;
  height: 420px;
  background: rgb(7, 7, 80);
  color: #fff;
  top: 30%;
  left: 40%;
  position: relative;
  transform: (-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
 margin-top: 100px;
}

.h1{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}
.log{
  border: none;
  outline: none;
  height: 40px;
  background: rgb(235, 235, 33) ;
  border-radius: 10px;
  color:#fff;
  width: 20px;
  padding-left: 20px;
  padding-right: 15px;
  padding-bottom: 40px;
  
}
.log:hover{
  cursor: pointer;
  background: hsl(278, 93%, 17%);
  color:#fff;
}
.form1 input{
  width: 250px;
  text-align: start;
  color: #fff;
  padding-right: 10px ;
  margin-left: 0px;
  padding: 9px;
  margin-bottom: 20px;
  margin-left: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: #fff;
  border-color: solid #fff;   
  background-color: transparent;
}
.form1 p{
  margin-left: 10px;
}