.root {
    max-width: 1280px;
    margin: 0;
    padding: 0px;

    h1 {
        color: #FFD900;
        margin-top: 1px;
        padding-top: 20px;
        padding-left: 10px;
        margin-left: 40px;
        font-family: Times New Roman, serif;
    }

    .instructor-list {
        list-style: none;
        padding: 0;

        li {
            margin-bottom: 20px;
            border: 1px solid #ccc;
            padding: 10px;
            display: flex;
            justify-content: space-around;
            align-items: start;

            .instructor-info {
                flex-grow: 1;

                h3 {
                    margin-bottom: 5px;
                }

                p {
                    color: #666;
                }
            }

            button {
                padding: 8px;
                background-color: #007bff;
                color: #fff;
                border: none;
                cursor: pointer;

                &:hover {
                    background-color: #0056b3;
                }

                margin-top:10px;
                border-radius:10px;
                font-size:20px;
            }

            flex-direction:column;
            align-content:space-around;
            width:500px;
            font-size:25px;
            border-radius:7px;
            text-align:start;
            background-color:#484848;
        }

        flex-direction:column;
        width:500px;
        justify-content:start;
        align-items:start;
        display:grid;
        grid-template-rows:2fr;
        grid-template-columns:3fr;
        margin:0px 0px 0px 20px;
    }

    height:100vh;
    width:100%;
}

.IC {
    height: 98.5vh;
    width: auto;
    margin: 0px;
    color: #FFFFFF;
    background-repeat: no-repeat;
    background-image: url('https://img.freepik.com/premium-vector/dark-stripes-background-elegant-design-wallpapers_518299-1505.jpg');
    background-position: 50%;
    background-size: cover;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
    background-color: transparent;
    padding-left: 60px;
    padding-top: 200px;
}

.h3 {
    font-size: 25px;
}

.IC-SB {
    height: 200vh;
}

.contacts {
    width: 100%;
    height: 150vh;
    background-image: none;
    background-color: #1f2225;
    background-position: 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
    color: #FFFFFF;
    border-top: 2px solid #8E8E8E;
    border-bottom: 2px solid #AFAFAF;
}

.h1-cont {
    padding-top: 20px;
}

.info {
    font-size: 20px;
}