.faqs {
    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(/public/assets/images/faq3.jpg) center center/cover no-repeat ;
    height: 120vh;
    width: 100%;
    object-fit: cover;
    overflow: hidden;

}


.faq-container {
    background-color: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
     display: grid;
    grid-template-rows: repeat(3, minmax(15rem, 1fr)); /* Two columns, adjust width as needed */
    gap: .5rem;
    margin: 0 30rem; /* Add space on the sides of the container */
}

.faq-item {
    padding: 2rem; /* Adjust padding inside each box */
    text-align: center;
    border: var(--border);
    margin:  0; /* Margin around each box (adjust as needed) */
  }
  
  .faq-item h3 {
    font-family: var(--font-family);
    margin-bottom: 8px;
    font-size:1.2rem;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
  }

  .faq-item h3:hover {
    color: var(--main-color);
  }

  .faq-item p {
    line-height: 1.8;
    font-family: var(--font-family);
    margin-bottom: 8px;
    color: #fff;
  }
  
  .technical-support {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }