.fhead{
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 40px;
    position: absolute;
    transform: translate(-50%, -50);
    top: 10%;
    left: 10%;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
}
.help-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    color: #fff;
    margin-top: 40px;
    position: absolute;
    transform: translate(-50%, -50);
    top: 25%;
    left: 0%;

    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;    
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    
    
  
}
@media screen and (max-width: 768px){
      .help-content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 670px;
        height: 450PX;
        overflow: scroll;
      }
      .right-content h4, .left-content h4{
        font-size: 1rem;
      }
    }

.right-content h4, .left-content h4{
    font-size: 1.4rem;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 10px;
    font-style: italic;
    color: #fff;
    

}
.right-content p, .left-content p{
    font-size: 1rem;
    color: #bebbbb;
    text-align: start;
    padding-left: 25px;
    padding-bottom: 15px;

}

