

.footer {
    background-color: rgb(165, 75, 75);
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    margin-top: -4px;
}

.footer p {
    margin: 0;
    color: blue;
    
    height: 50px;
    width: 100%;
}



