.dashboard-page {
    max-width: 800px;
    margin: 0 auto;
  }
  
  h1, h2 {
    color: #333;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  section:nth-child(2) {
    margin-top: 20px;
  }
  
  section:nth-child(2) ul {
    color: #ff6347; 
  }
  
  section:nth-child(2) p {
    color: #888;
  }
  