/* src/pages/InstructorContact.css */
.instructor-contact-page {
    max-width: 600px;
    margin: 0 auto;
  }
  
  h1 {
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    color: #333;
  }
  
  input,
  textarea {
    padding: 8px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  p {
    color: #28a745; /* Green color for success message */
    margin-top: 10px;
  }
  