body{
  padding-top: 100px;
}
.login-page {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: black;
    color: white; 
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 15px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    cursor: pointer;
  }
  