.navbar{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #072a5a;
}

.tab-1{
    height: 100vh;
    width: 20%;
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 100px;
    margin: 10px auto;
    border-radius: 50%;
    color: white;
    text-align: center;
}

.nav-buttons{
    margin: 20px auto;
    text-align: center;
}

.nav-button{
    height: 40px;
    width: 200px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    font-family: cursive;
}


.nav-button:hover{
    background-color: white;
    color: rgb(74, 88, 104);
    cursor: pointer;
    transition: .7s;
}



@media screen and (max-width: 500px) {
    .tab-1{
        min-width: 90%;
        max-height: 100px;
    }
    .nav-button{
        max-width: 60px;
        font-size: 0.6rem;
    }
    .tab-2{
        min-width: 80%;
        flex-wrap: wrap;
    }

   

    
}

@media screen and (min-width: 600px) and (max-width: 850px) {
    .tab-1{
        min-width: 90%;
        max-height: 100px;
    }
    .nav-button{
        max-width: 60px;
        font-size: 0.6rem;
    }
    .tab-2{
        min-width: 80%;
        flex-wrap: wrap;
    }
    
    

    
}

@media screen and (min-width: 900px) and (max-width: 1920px) {
   .tab-1{
        min-width: 90%;
        max-height: 100px;
    }
    .nav-button{
        max-width: 60px;
        font-size: 0.6rem;
    }
    
}