@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-straight/css/uicons-regular-straight.css');

@media screen and (max-width: 500px) {
    .tab-1{
        min-width: 90%;
        max-height: 100px;
    }
    .nav-button{
        max-width: 60px;
        font-size: 0.6rem;
    }
    .tab2{
        min-width: 80%;
        flex-wrap: wrap;
    }
    .tab-2-left{
        min-width: 350px;
    }
    .activity-tabs{
        max-width: 300px;
    }
    .activity-tab{
        min-width: 200px;
    }
    .events{
        max-width: 320px;
    }
    .event{
        max-width: 280px;
    }

    .tab-2-right{
        max-width: 400px;
        padding: 10px;
    }

    .course-card{
        max-width: 260px;
    }
}

@media screen and (min-width: 600px) and (max-width: 850px) {
    .tab-1{
        min-width: 90%;
        max-height: 100px;
    }
    .nav-button{
        max-width: 60px;
        font-size: 0.6rem;
    }
    .tab2{
        min-width: 80%;
        flex-wrap: wrap;
    }
    .tab-2-right{
        min-width: 600px;
        padding: 10px;
    }

    .course-card{
        min-width: 500px;
    }
}

@media screen and (min-width: 900px) and (max-width: 1920px) {
   .tab-1{
        min-width: 90%;
        max-height: 100px;
    }
    .nav-button{
        max-width: 60px;
        font-size: 0.6rem;
    }
    
}

.dashboard{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.tab-1{
    height: 100vh;
    width: 200px;
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 100px;
    margin: 10px auto;
    border-radius: 50%;
    color: white;
    text-align: center;
}

.nav-buttons{
    margin: 20px auto;
    text-align: center;
}

.nav-button{
    height: 40px;
    width: 200px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    font-family: cursive;
}

.nav-button:hover{
    background-color: white;
    color: #072a5a;
    cursor: pointer;
    transition: .7s;
}

.drop-down-menu{
    height: 500px;
    width: 350px;
    position: fixed;
    top: 50px;
    left: 50px;
    margin: 30px auto;
    background-color: white;
    border: 2px solid rgb(133, 94, 107);
    border-radius: 15px;
}

.tab2{
    width: 900px;
    margin: 20px;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: white;
    border-radius: 25px;
}

.tab-2-left{
    height: 98%;
    width: 550px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.tab-2-right{
    width: 400px;
    margin-right: 20px ;
    padding: 10px;
    background-color: #a07d50;
    border-radius: 20px;
}

.greeting-and-time{
    margin: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.activity-tabs{
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.activity-tab {
    height: 160px;
    width: 120px;
    margin: 10px;
    border-radius: 15px;
    border: 2px solid black;
    text-align: center;
    font-family: cursive;
}

.card-title{
    margin: 50px auto;
    text-align: center;
    color: #072a5a;
}

.upcoming{
    color: #072a5a; 
}
.course-card{
    height: 60px;
    width: 300px;
    margin: 10px auto;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    background-color: white;
    font-family: cursive;
}

.events{
    width: 500px;
    margin: 10px auto;
}

.event{
    height: 60px;
    width: 400px;
    margin: 10px auto;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    background-color: #a07d50;
    color: white;
    font-family: cursive;
}
.event:hover, .course-card:hover{
    transition: .7s;
    transform: scale(1.05);
    cursor: pointer;
}

.event i, .course-card i{
    font-size: 1.8rem;
}

/*Styling only for grades page*/

.grade-table{
    width: 90%;
    height: 100vh;
}

thead{
    text-align: left;
}

.courses{
    width: 60%;
}

.exams-score{
    width: 15%;
}

.grades{
    width: 15%;
}

/*Styling only for help page*/
.help-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

h2{
    color:#072a5a ;
}

/*Styling only for contact Page*/
.contact-tab{
    height: 100vh;
    flex-direction: column;
}
