.help-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.total{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: white;
}

h2{
    color:#072a5a ;
}


