
/* Homepage.css */

.tab {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: auto;
    overflow: hidden;
  }
  
  .overview {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .tab{
    background-color: white;
  }
  .text {
    text-align: center;
  }
  
  .login-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .login {
    display: inline-block;
    padding: 12px 24px;
    background-color: #072a5a;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .login a {
    color: white;
    text-decoration: none;
  }
  
  .features {
    margin-top: 40px;
  }
  
  .features h2 {
    color: #072a5a;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  