header{
  position: fixed;
  top: 0;
  right: 10x;
  width: 100%;
  padding: px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 99;
  }

  .logo {
      color: black;
  }

  .navigation .dash {
      position: relative;
      font-size: 1.1em;
      color: black;
      text-decoration: none;
      font-weight: 500;
      margin-left: 100px;
  }
  
  .navigation .dash::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -6px;
      width:100%;
      height: 3px;
      background: gold;
      border-radius: 5px;
      transform-origin: right; 
      transform: scaleX(0);
      transition: transform .5s;
  }
  .navigation .dash:hover::after {
      transform-origin: left;
      transform: scaleX(1);
  }