* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-color: #3498db;
  --Secondary-color: #3498db; 
  --text-dark: rgba(0, 0, 0, .75);
  --white: #fff;
  --black: #1d263c;
  --gray: #eaecef;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
.section {
  padding: 4rem 0 2rem;
}
.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.icon {
  font-size: 2rem;
  cursor: pointer;
}
.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: flex;
  align-items: center;
}
.btn {
  padding: .6rem 1.5rem;
  background: var(--primary-color);
  border-radius: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn a {
  color: var(--white);
  font-weight: 500;
}
.btn:hover {
  background: var(--Secondary-color);
}
input {
  font-size: 100%;
}
