

.navbar{
    background-color: rgb(137, 196, 230);;
    height: 1000px;

}
.container-fluid{
    background-color: rgb(137, 196, 230);;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
    background-size: cover;
}

