

.dashboard-container {
  display: flex;
}

.profile-container {
  flex: 1;
  padding: 32px;
  border-right: 1px solid rgb(158, 154, 154);
  margin-right: 50px;
  

  
}

.Profile-item{
  margin: 10px;
  text-align: center;
  font-size: 30px;
  color: cornflowerblue;
}

.grades-container {
  flex: 1;
  padding: 20px;
  margin-right: 20px;
  padding-top: 100px;

}

.grades-box{
  
  padding: 10px;
  margin-bottom: 20px;
  flex-grow: 1;
  border-radius: 15px;
  border: dashed 3px cadetblue;
}


table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ddd;
  
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}


.alerts-container {
  display: flex;
  flex: 1;;
  padding: 20px;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 0px;
  text-align: center;
  padding-left: 5px;
  
  
}

.alerts-box {
  
  padding: 30px;
  margin-bottom: 20px;
  margin-right: 160px;
  margin-left: 0px;
  align-items: center;
  justify-content: center;
  
  
}


.image-item{
  width: 440px;
  height: 340px;
  border-radius: 18px;
  border: dashed 3px cadetblue;

}

.detail{
  font-style: italic;
  font-size: 18px;
  margin-left: 10px;
  line-height: 25px;
  
}



.table-item{
  width: 270px;
  height: 200px;
  

}

.Semester{
  text-align: center;
  margin-bottom: 10px;
  color: cornflowerblue;
  font-size: 26px;

}

.Missing{
  text-align: start;
  width: 200px;
  margin-top: 25px;
  margin-right: 180px;
  border-radius: 10px;
  border: dashed 3px cadetblue;
  padding: 10px;
  
  
}

.alert-item{
  
  font-size: 25px;
  color: cornflowerblue;
}