.Question{
  font-style: bold;
  font-size: 40px;
  text-align: center;
  color: rgb(75, 105, 156);
  text-transform: capitalize;
  


}

.Question-section{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: rgb(94, 113, 148);
  margin-left: 500px;
  width: 600px;
  margin-top: 8px;

}

.Question-item{

  font-family:Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: rgb(94, 113, 148);
  padding-inline: 280px;
  margin-top: 8px;
  

}

.help-image{
  width: 400px;
  height: 190px;
  align-items: center;
  margin-left: 470px;
}

.container-help{
  height:700px
}

.faq{

    
  padding-left: 200px;
  margin-top: 10px;
  justify-content: center;
  flex-direction: column;
  display: flex;
  float:left;
  margin-left: 60px;
  line-height: 35px;
  padding-inline-end: 20px;
  width: 450px;

    
    
  }
  

.faq1{
  
  
    padding: 10px;
    margin-top: 10px;
    justify-content: center;
    flex-direction: column;
    display: flex;
    float:left;
    margin-left: 60px;
    line-height: 35px;
    padding-inline-start: 20px;
    width: 450px;
    
  }