.image{
  width: 99.5%;
  height: 10%;
  border-radius: 20px;
  border: dashed 3px cadetblue;

}

.top-right{
  position: absolute;
  top: 450px;
  right: 0px;
  color: lightskyblue;
  font: 5000px;
  font-size: 120px;
  font-style: italic;
  width: 500px;
  text-transform: capitalize;
}