/* src/components/landingPage/LandingPage.css */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  /* text-align: center; */
}

.heading {
  font-size: 36px;
  color: #2c3e50;
  margin-bottom: 20px;
  text-align: left;
  margin-top: 100px;
  padding: 15px;
}

.description {
  font-size: 18px;
  color: #b5975d;
  margin-bottom: 30px;
  text-align: center;
}

.features {
  margin-top: 40px;
}

.feature-card {
  background-color: #ecf0f1;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feature-title {
  font-size: 24px;
  color: #2c3e50;
  margin-bottom: 10px;
  text-align: center;
}

.feature-description {
  font-size: 16px;
  color: #34495e;
}

.lst {
  font-weight: bolder;
}

.landing-image {
  width: 100%;
  height: 600px;
  margin-top: 20px;
  border-radius: 8px; /* Optional: Add border-radius for rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow */
}

/* Media query for small screens */
@media only screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }

  .heading {
    font-size: 28px;
    text-align: center;
  }

  .feature-card {
    margin: 10px;
  }

  .feature-title {
    font-size: 20px;
    text-align: center;
  }

  .feature-description {
    font-size: 14px;
  }
}

/* Media query for medium screens */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .container {
    max-width: 600px;
  }

  .heading {
    font-size: 32px;
    text-align: center;
  }

  .feature-card {
    margin: 15px;
  }

  .feature-title {
    font-size: 22px;
    text-align: center;
  }

  .feature-description {
    font-size: 15px;
  }
}

/* Media query for large screens */
@media only screen and (min-width: 1025px) {
  .container {
    max-width: 1000px;
  }

  .heading {
    font-size: 36px;
    text-align: left;
  }

  .feature-card {
    margin: 20px;
  }

  .feature-title {
    font-size: 24px;
    text-align: left;
  }

  .feature-description {
    font-size: 16px;
  }
}