<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | Josephine</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="assets/css/styyle.css">
</head>

<body>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="logo-apple"></ion-icon>
                        </span>
                        <span class="title">Josephine University</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title">Grade Report</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="chatbubble-outline"></ion-icon>
                        </span>
                        <span class="title">Help and Support</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="help-outline"></ion-icon>
                        </span>
                        <span class="title">Missing Grade</span>
                    </a>
                </li>

                <li>
                    <a href="contact.html">
                        <span class="icon">
                            <ion-icon name="settings-outline"></ion-icon>
                        </span>
                        <span class="title">Instructor Contact</span>
                    </a>
                </li>

                <li>
                    <a href="LoginSignup.jsx">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Sign Out</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- ========================= Main ==================== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                <div class="search">
                    <label>
                        <input type="text" placeholder="Search here">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>

                <div class="user">
                    <img src="assets/imgs/customer01.jpg" alt="">
                </div>
            </div>

            <!-- ======================= Cards ================== -->
            <div class="cardBox">
                <div class="card">
                    <div>
                        <div class="numbers">LV 100</div>
                        <div class="cardName">First Year Results</div>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">LV 200</div>
                        <div class="cardName">Second Year Results</div>
                    </div>
                    </div>
                <div class="card">
                    <div>
                        <div class="numbers">LV 300</div>
                        <div class="cardName">Third Year Results</div>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">LV 400</div>
                        <div class="cardName">Final Year Results</div>
                    </div>
                </div>
            </div>

            <!-- ================ Order Details List ================= -->
            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>Recent Results</h2>
                        <a href="#" class="btn">View All</a>
                    </div>

                    <table>
                        <thead>
                            <tr>
                                <td>Courses</td>
                                <td>Credit Hours</td>
                                <td>Grades</td>
                                <td>Status</td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Programming with Java</td>
                                <td>3 hours</td>
                                <td>B2</td>
                                <td><span class="status delivered">Released</span></td>
                            </tr>

                            <tr>
                                <td>Computer Hardware</td>
                                <td>2 & half hours</td>
                                <td>**</td>
                                <td><span class="status pending">Pending</span></td>
                            </tr>

                            <tr>
                                <td>Research Method</td>
                                <td>3 hours</td>
                                <td>A+</td>
                                <td><span class="status return">Released</span></td>
                            </tr>

                            <tr>
                                <td>Computer Security</td>
                                <td>3 hours</td>
                                <td>**</td>
                                <td><span class="status inProgress">In Progress</span></td>
                            </tr>

                            <tr>
                                <td>Human Computer Interation</td>
                                <td>2 hours</td>
                                <td>A+</td>
                                <td><span class="status delivered">Released</span></td>
                            </tr>

                            <tr>
                                <td>Information Systems Managements</td>
                                <td>3 hours</td>
                                <td>**</td>
                                <td><span class="status pending">Pending</span></td>
                            </tr>

                            
                        </tbody>
                    </table>
                </div>

                <!-- ================= New Customers ================ -->
                <div class="recentCustomers">
                    <div class="cardHeader">
                        <h2>Course Lecturers</h2>
                    </div>

                    <table>
                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="assets/imgs/customer02.jpg" alt=""></div>
                            </td>
                            <td>
                                <h4>Programming with Java<br> <span>Godbless Mensah</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="assets/imgs/customer01.jpg" alt=""></div>
                            </td>
                            <td>
                                <h4>Research Method <br> <span>Benjamin Kwofie</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="assets/imgs/customer02.jpg" alt=""></div>
                            </td>
                            <td>
                                <h4>Computer Security <br> <span>Awurama Adbunu Sefakor</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="assets/imgs/customer01.jpg" alt=""></div>
                            </td>
                            <td>
                                <h4>Human Computer Interation<br> <span>Samuel Tawiah Narteh</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="assets/imgs/customer02.jpg" alt=""></div>
                            </td>
                            <td>
                                <h4>Computer Hardware <br> <span>Alarnyo Kingsley</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="assets/imgs/customer01.jpg" alt=""></div>
                            </td>
                            <td>
                                <h4>Information Systems Managements <br> <span>Manuel Kobby</span></h4>
                            </td>
                        </tr>

                       
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- =========== Scripts =========  -->
    <script src="assets/js/main.js"></script>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>