@import 'normalize.css';
@import './components/Dashboard.css';
@import './components/Footer.css';
@import './components/HelpAndSupport.css';
@import './components/InstructorContactPage.css';
@import './components/LandingPage.css';
@import './components/LoginPage.css';
@import './components/MissingGradeForm.css';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
