.grade-report-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.navigation-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #4c5053;
  color: #ffffff;
  padding: 10px 0;
}

.report-card {
  width: 80%;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.school-logo-section img {
  width: 450px; 
}

.student-info {
  display: flex;
  flex-direction: column;
}

.info-section {
  text-align: left;
  margin-bottom: 15px;
}

.info-section h3 {
  color: #4c5053;
}

.course-table {
  width: 100%;
  border-collapse: collapse;
}

.course-table th,
.course-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.course-table th {
  background-color: #4c5053;
  color: #ffffff;
}

.additional-info {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.grading-scale,
.comments {
  width: 48%;
}

.grading-scale h3,
.comments h3 {
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 12px;
  resize: none;
}