.hero {
  background-image: url("../../../../public/8462121.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  padding-top: 20px;
  padding-right: 50px;
  color: #fff;
}

.row {
  margin-top: 280px;
}