*{
  margin:10px;
  
  box-sizing: border-box;
  border-radius: 30px;
  font-family: "custom";
  height: 45px;
}
@font-face {
  font-family: "lato regular";
  src: url("../components/fonts/Lato-Regular.ttf");
}

.page {
  background-image: url("../components/images/sts.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size:cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 
 }

.cover{
  background-color:white;
  align-items: center;
  margin-left: 28%;
  margin-right: 28%;
  width: 300em;
  height: 35em;
  position: center;
  border-radius: 1em;
  box-shadow: 0 0.188em 1.550em rgb(100,156, 156);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.alt-login{
  width: 80%;
  height: 3em;
  display: flex;
  justify-content: space-around;
}

.alt-login div {
  width: 45%;
  height: 90%;
  border-radius: .25em;
  background-color: black;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.student-mail{
  background-image:url("../components/images/mail.png") ;
}
input {
  border: none;
  background-color: wheat;
  height: 4em;
  width: 80%;
  border-radius: 0.25em;
  text-align: center;
  padding: 2em;
}

input:focus {
  outline-color: black;
}
.login-btn {
  width: 40%;
  height: 3em;
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
 .login-btn:hover{
  transform: scale(1.25); }
 
  .text {
    position:relative;
    bottom: 2px;
  }
  
  .hide {
  position: absolute;
  transform: scale(0);  
  }

  .login-popup {
    position: absolute;
    height: 30em;
    width: 30em;
    display: flex;
    flex-direction: column;
    border-radius: 0.25em;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    color: white;
    bottom: 0;
    transform: scale(1);
    transition: 1.15s;
  }