.body {
    margin: 0;
    background: url('https://github.com/SelaHyp/11126606_DCIT_205/blob/main/compssa%20img/Screenshot%20(11).png?raw=true') center/cover fixed;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    backdrop-filter: blur(4px);
}
.grade-form-container {
  
  border: 2px solid rgb(139, 69, 19);
  background: rgba(255, 255, 255, 0.8);
  max-width: 500px;
  width: 300px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form {
  display: grid;
  grid-gap: 15px;
}

label {
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
    background-color: rgb(139, 69, 19);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
    background-color: rgba(232, 163, 114, 0.609);
}

h1 {
  text-align: center;
  color: #333;
}

