.container_instruct {
  display: inline;
}
.container_instruct img{
  width: 150px;
  height: 150px;
  border-radius: 20px;
}
.textarea_instruct {
  border-radius: 20px;
}
.textarea_instruct_2 {
  border-radius: 20px;
}