*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing:border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.dashboard{
    display:flex ;
}
.sidebar{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100px;
    height: 100vh;
    padding:0 1.7rem;
    color: white;
    overflow: hidden;
    transition: all 0.5s linear;
    background-color:#846ff7;
}
.sidebar:hover{
    width: 235px;
    transition: 0.5s;
    color:#846ff7;

}
.logoo{
    height: 80px;
    padding: 16px;

}
.menu{
    list-style: none;
    height: 68%;
    position: relative;
    padding: 0;
}
.menu li{
    padding: 1rem;
    margin: 6px 0;
    color: #846ff7;
    border-radius:8px;
    transition: all 0.5s ease-in-out;

}
.menu li:hover,
.active{
background: #ebe9e9;
color:white;

}

.menu a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.menu a span {
    overflow: hidden;
}
.menu a i {
    font-size: 1.2rem;
}
.logout{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}


/*main */
.main--content{
    position: relative;
    width: 100%;
    background: #ebe9e9;
    padding: 10px;
}
.header--wrapper img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
}
.header--wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: white;
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 10px 2rem;
}
.hearder--title{
    color: #846ff7;
}
.user--info{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.search--box{
    border-radius: 15px;
    background: #ebe9e9;
    color: #ebe9e9;
    padding: 4px 12px;
    display: flex;
    gap: 5px;
    padding: 4px 12px;
}
.search--box input{
    /* background: transparent; */
    padding: 10px;
}
.search--box i {
    font-size: 1.2rem;
    color: black;
    margin: 4px;
    transition: all 0.5s ease-out;

}

.search--box i:hover{
    transform: scale(1.3);
}


/*card container*/
.card--container{
    background: white;
    padding: 2rem;
    border-radius: 10px;

}
.card--wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

}
.main--title{
    color: #846ff7;
    padding-bottom:10px;
    font-size: 15px;


}
.grade--card{
    background: #ebe9e9;
    border-radius:10px;
    padding: 1.2rem;
    width: 290px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;

}
.grade--card:hover{
    transform: translateY(-5px);

}
.card--hearder{
 display: flex;   
 justify-content: space-between;
 align-items: center;
 margin-bottom:20px;
}
.amount{
    display: flex;
    flex-direction: column;
}
.title{
    font-size: 12px;
    font-weight: 200;
}
.amount--value{
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}
.icon-react{
    color:#846ff7;
    padding: 1rem;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    font-size: 1.rem;
    background: rgb(240, 76, 76);
}
.card-details{
    font-size: 18px;
    color: #777777;
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
}

/*Css colors*/
.light-red{
    background:rgb(251,233,233);
}
.light-purple{
    background:rgb(233, 219, 233);
}
.light-green{
    background:rgb(233, 254, 245);
}
.light-blue{
    background:rgb(215, 229, 247);
}
.light-yellow{
    background: rgb(219, 215, 162);
}
.light-gray{
    background:#ebe9e9;
}
.dark-red{
    background:red;
}
.dark-purple{
    background:purple;
} 
.dark-green{
    background: green;
}
.dark-blue{
    background: blue;
}
.dark-yellow{
    background: yellow;
}
.dark-gray{
    background: gray;
}


/*Table containerr*/
.tabular--wrapper{
    background: white;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 2rem;
}
.table-container{
    width: 100%;
}
table{
    width: 100%;
    border-collapse:collapse  ;
}
thead{
    background: #846ff7;
    color:white
}
th{
    padding: 15px;
    text-align: left;
}
tbody{
    background: #ebe9e9;
}
td{
    padding: 15px;
    font-size: 14px;
    color: #333;

}
tr:nth-child(even){
    background: #fff;
}

tfoot{
    background: rgba(red, green, blue, alpha);
    font-weight: bold;

    color: #fff;
}
tfoot td{
    padding: 15px;
}
.table-container button{
    color: green;
}