.pic1 {
    margin-left: 50px;
  margin-top: -130px;
    width: 500px;
    border-radius: 3px;
    height: 500px;
    border-radius: 4px;
    
  }
  .trav{
    font-style: italic;
    margin-top: 30px;
  }
  .welcome {
    font-style: italic;
    color: white;
    text-align: center;
    font-size: 100px;
    background-color:darkblue;
  }
  .title {
    color: darkblue;
    font-style: italic;
    text-align: right;
    margin-right: 30px;
  }
  .para {
  width: 600px;
    display: inline-block;
    margin-left: 50px;
    color: black;
    
    
  }