.formlogin{
    margin-inline: auto;
    justify-content: center;
     align-items: center ;
     width: 250px;
}
.login {
    font-style: italic;
    color: darkblue;
    margin: 20px;
}

.but {
    border-radius: 4px;
    background-color: rgb(29, 29, 136);
    color: white;
    transition: background-color 0.3s ease, opacity 0.3s ease
    
}

.but:hover{
     background-color: goldenrod;
    opacity: 0.8;

}
.input {
    border-radius: 4px;
}

.part {
    margin-top: 10px;
}


