*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
   
  }
  .header_land{
    min-height: 100vh;
    width: 100%;
    /*background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../Assets/download.jpeg);*/
    background-size: cover;
    background-position: center unset;
    position: relative;
  }
.logo_land {
  width: 200px;
  height: 100px;
}

  .footer_land .row_land{
    display: flex;
    flex-wrap: wrap;
  }
  .footer_land{
    position: absolute;
    background-color: #001F3F;
    width: 100%;
    height: 49vh;
    padding: 70px 0;
  }
  
  .footer-column_land ul{
    list-style: none;
    padding: 0;
  }
  
  .footer-column_land ul li{
    margin-bottom: 8px;
  }
  
  .footer-column_land a{
    display: block;
    color: aliceblue;
  }
  
  .footer-column_land a:hover{
    display: block;
    color: aliceblue;
    font-weight: bold;
  
  }
  
  .footer-column_land ul li p{
    color: white;
  }
  
  .footer-column ul li p :hover{
    color: white;
    font-weight: bold;
    }
  .footer-column_land{
    width: 29%;
    padding: 0 14px;
    box-sizing: border-box;
    float: left;
    margin-bottom: 10px;
  }
  
  .footer-column_land h4{
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 25px;
    color: aliceblue;
  }
  
  .form_land{
    color: white;
    height: 30px;
    margin-top: 2%;
    margin-left: 35%;
  }


  .form-control_land{
    color: white;
    height: 30px;
    border-radius: 15px;

  }
  .news_land{
    color: white;
    height: 30px;    
  }
  
  .form_land button{
    border-radius: 20px;
    width: 80px;
    height: 40px;
    font-size: medium;
    background-color: #001F3F;
    border-color: wheat;
    color: white;
    cursor: pointer;
    margin-left: 2%;
  }
  
  .form_land button:hover {
    border-radius: 20px;
    width: 80px;
    height: 40px;
    font-size: medium;
    background-color: aqua;
    border-color: white;
    color: white;
    font-weight: bold;
    transition: 1s ease-in-out;
  }
  
  .copyright_land p{
    color: gray;
    text-align: right;
    font-weight: lighter;
    margin-left: 10%;
  }
  .copyright_land p:hover{
    color: white;
    text-align: right;
    font-weight: lighter;
  }
.icons_land {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.social-icon {
  font-size: 24px;
  color: white;
  cursor: pointer;
}




  
