/* components/UserInfo/UserInfo.css */

.user-info-container {
    display: flex;
    background-color: #2b2929; /* Light gray background */
    padding: 10px;
    border-radius: 8px; /* Rounded corners */
    color: black;
  }
  
  .user-info {
    flex: 1; /* Take up remaining space */
  }
  
  .user-info p {
    margin: 0; /* Remove default paragraph margin */
  }
  
  /* Add any additional styling as needed */
  