.contact-page {
  padding: 20px;
  background-color: #00357a;
}

.instructor-list {
  list-style-type: none;
  padding: 0;
}

.instructor-item {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
}

.instructor-item h3 {
  margin-bottom: 10px;
}

.instructor-item p {
  margin-bottom: 10px;
}

.instructor-item button {
  background-color: #00357a;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}
.instructor-item button:hover {
  background-color: #b6975d;
}
.contact-page h2 {
  font-size: 50px;
  color: #ccc;
  font-style: italic;
}
