.background-image{
height: 200px;
}
img{
  width: 100%;

}

.home-container {
  margin-top:  700px;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
  color: white;
 }
 
 .home-header {
  text-align: center;
  margin-bottom: 2rem;
  color: black;
  font-size: 25px;
  font-weight: 400;
  line-height: 32px;
 }
 .home-header h1{
  color:  #1b0d30;
  font-style: italic;
  font-weight: 600;
  font-size: 45px;
 }
 .home-announcements h2{
  color:  #1b0d30;
  font-style: italic;
  font-weight: 600;
  font-size: 45px;
 }
 

 .home-announcements {
  text-align: center;
  margin-bottom: 2rem;
  color:  black;
  font-size: 25px;
  font-weight: 400;
  line-height: 32px;
 }
 
 .home-resource-center {
  text-align: center;
  margin-bottom: 2rem;
  color:  black;
  font-size: 25px;
  font-weight: 400;
  line-height: 32px;
 }
 .home-resource-center h2{
  color:  #1b0d30;
  font-style: italic;
  font-weight: 600;
  font-size: 45px;
 }
 
 button {
  padding: 15px;
  background-color: #00357a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
 }
 
 button:hover {
  background-color: #b6975d;
 }