
.land-container {
    background-image: url('../Images/bd.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 2rem;
    box-sizing: border-box;
   }
   
   .land-header {
    text-align: left;
    color: #ffffff;
    margin-bottom: 2rem;
    margin-top: 180px;
    margin-right: auto;
    font-size: 20px;

   }
   
   .land-nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 500px;
    margin-right: auto;
   }
   
   button {
    padding: 15px 45px;
    background-color: #00357a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
   }
   
   button:hover {
    background-color: #b6975d;
   }