.login-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0056b3;
}

.login-page {
  padding: 30px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  background-color: aliceblue;
}

.login-page form {
  display: flex;
  flex-direction: column;
}

.login-page label {
  margin-bottom: 5px;
}

.login-page input {
  margin-bottom: 20px;
  padding: 10px;
}

.login-page button {
  background-color: #00357a;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.login-page button:hover{
  background-color: #b6975d;
}
.login-page .error-message {
  color: red;
  margin-top: 20px;
}