.container {
  max-width: 600px;
  margin-right: auto;
  padding: 15px;
  color: #00357a;

 }
 .container h2{
font-size: 40px;
 }
 .container p{
  font-size: 17px;
 }
 
 .form-control {
  width: 100%;
  padding: 15px;
  margin: 20px 0;
  border: 3px solid #00357a;
  border-radius: 5px;
 }
 
 .form-control:focus {
  border-color: #b6975d;
  outline: none;
 }
 
 .btn {
  padding: 10px 20px;
  background-color:#00357a ;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
 }
 
 .btn:hover {
  background-color:  #b6975d;
 }