.navbar {

    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #00357a;

}

.navbar ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-left: auto; 
    text-align: center;
    margin-right: 60px;
}

.navbar ul li {
    margin-right: 1rem;
    margin-right: 60px;
}

.navbar ul li a {
    text-decoration: none;
    color: #ffffff;
    margin-left: auto;
     
}

.navbar ul li a:hover {
    color: #b6975d;
}
