
.primary-heading {
    font-size: clamp(2rem, 5vw, 4rem);
    color: #fe9e0d;
    max-width: 600px;
    margin-top: 1rem;
  }
  .primary-text {
    font-size: clamp(1rem, 3vw, 1.5rem);
    max-width: 500px;
  color: beige; 
   margin: 1.5rem 0rem;
  }
  .secondary-button {
    padding: 1rem 2.5rem;
    background-color: #fe9e0d;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    color: white;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.secondary-button:hover {
    background-color: #e48f0f;
  }
  .about-section-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .about-background-image-container {
    position: absolute;
    left: -10%;
    z-index: -2;
    width: 120%;
    margin-top: 15rem;
  
  }
  .about-section-image-container {
    flex: 0.9;
    margin-right: 1rem;
  }
  .about-section-text-container {
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  
  
  .about-buttons-container {
    display: flex;
  }