/* styles/footer.css */

/* Base styles */
.footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  margin-top: 20rem;
}

.main-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-inner-content {
  flex: 1;
  max-width: 300px;
  margin: 15px;
}

/* Social Icons */
.social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.social-icons h2 {
  margin-bottom: 10px;
}

.social-icons .MuiIconButton-root {
  color: #fff;
  margin: 5px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .main-footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-inner-content {
    width: 100%;
    max-width: none;
  }
}
