:root { 
--blue_gray_100:#d0d5dd; 
--blue_gray_50:#eaecf0; 
--blue_800:#1751d0; 
--gray_900:#101828; 
--gray_900_01:#0f1728; 
--blue_gray_500:#667084; 
--gray_300:#e0e0e0; 
--gray_50:#f9fafb; 
--gray_100:#f2f3f6; 
--gray_900_0c:#1018280c; 
--blue_gray_500_01:#667085; 
--indigo_400:#4d7add; 
--black_900:#000000; 
--blue_gray_800:#344054; 
--blue_gray_700:#475466; 
--white_A700:#ffffff; 
}