@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
.d-container {
  position: relative;
  top: -10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  width: 100%;
  height: 800px;
}
.student-info h1 {
  font-family: Roboto;
  font-weight: bold;
}
.student-info {
  color: white;
  padding-left: 20px;
  margin-top: 100px;
  width: 500px;
  height: 200px;
  background-color: rgb(30, 104, 188);
  border-radius: 5px;
}
span {
  font-family: Roboto;
  font-weight: bold;
  text-decoration: underline;
}
p {
  font-size: 17px;
  font-family: Roboto;
  font-weight: bold;
}

.d-grades {
  margin-top: 260px;
  position: absolute;
  top: 120px;
  width: 650px;
  height: 350px;
  border: 2px solid rgb(30, 104, 188);
  border-radius: 5px;
}
#c-grades{
  font-family: Roboto;
  font-weight: bolder;
  color: gray;
}
table {
  width: 620px;
  border-collapse: collapse;
  margin: 20px;
}

th,
td {
  font-family: Roboto;
  font-weight: bold;
  border: 2px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: rgb(30, 104, 188);
}
.sem {
  font-family: Roboto;
  font-weight: bold;
  margin-left: 17px;
  margin-bottom: -10px;
}

.my-text {
  font-size: 145px;
}
