.d-container {
  position: relative;
  top: -350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  width: 100%;
  height: 800px;
}
.d-grades {
  margin-top: 380px;
  position: absolute;
  top: 120px;
  width: 650px;
  height: 350px;
  border: 2px solid rgb(30, 104, 188);
  border-radius: 5px;
}
table {
  width: 620px;
  border-collapse: collapse;
  margin: 20px;
}

th,
td {
  border: 2px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: rgb(30, 104, 188);
}
.sem {
  margin-left: 17px;
  margin-bottom: -10px;
  color: rgb(63, 60, 60);
}
