
.grade-report-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .filters-container {
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: gray;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: gray;
    color: black;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 600px) {
    th, td {
      font-size: 12px;
    }
  }