.image-content {
  width: 100%;
  margin-left: 100px;
  margin-top: -40px;
  height: 70px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #281564;
  color: white;
  font-size: xx-large;
  border-radius: 10px;
}

.card {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 270px;
  height: 370px;
  box-shadow: inset;
  border: 1px solid rgba(242, 242, 242);
  box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  cursor: pointer;
  color: rgb(85, 85, 85);
  padding-bottom: 10px;
}

.Card-image {
  height: 100px;
  object-fit: cover;
}

.card:hover {
  transform: scale(1.02);
  transition: 300ms ease-in;
}

.card-content > h1 {
  font-size: 16px;
  color: rgb(165, 28, 48);
}

.card-content {
  padding: 20px;
  overflow: hidden;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  grid-gap: 20px;
}
