@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-color {
    @apply text-blue-500;
  }
  .text-color{
    @apply text-blue-300
  }
  .rounded-side {
    @apply rounded-full bg-blue-100 border-blue-500;
  }
  .hover-effect {
    @apply hover:cursor-pointer hover:shadow-lg duration-200 hover:bg-blue-200;
  }
  .sliding-texts{
    @apply text-7xl italic text-blue-500 font-semibold
  }
  .sliding-semi-text{
    @apply text-3xl italic text-blue-50 font-normal
  }
  .hover-apply{
    @apply text-blue-500 text-xl
  }
}

.slide-text{
    animation: slide-text ease-in-out 5s infinite;
}

.grid-view{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
  gap: 2rem;
}

@keyframes slide-text{
    0%{
        transform: translateY(0%)
    }
    50%{
        transform: translateY(-50%)
    }

    51%{
        transform: translateY(60%)
    }
    100%{
        transform: translateY(-100%)
    }
}