/* src/components/missingGradeFormPage/MissingGradeFormPage.css */

.missing-grade-form-container {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.heading {
  font-size: 24px;
  color: #2c3e50;
  margin-bottom: 20px;
}

.overview {
  font-size: 18px;
  color: #7f8c8d;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  font-size: 16px;
  color: #34495e;
  margin-bottom: 8px;
  display: block;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 50px;
  margin-left: 10px;
}

.submit-button:hover {
  background-color: #2980b9;
}
/* Add more styles as needed */
