

.user-info-container {
  background-color: #1e1e1e; 
  color: #fff; 
  padding: 20px;
  border-radius: 8px;
  position: fixed; 
  top: 50px;
  left: 0;
  height: 90vh; 
  width: 220px; 
  display: flex;
  flex-direction: column;
}

.user-info-header {
  text-align: center;
  margin-bottom: 20px;
}

.user-info-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.user-info-content p {
  margin: 10;
}

.user-info-content strong {
  margin-right: 10px;
}


