/* FAQPage.css */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .faq-container {
    width: 80%;
    text-align: left;
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  .faq-list {
    margin-bottom: 20px;
  }
  
  .faq-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .faq-item:hover {
    background-color: #f9f9f9;
  }
  
  .faq-question {
    font-weight: bold;
  }
  
  .faq-answer {
    margin-top: 10px;
  }
  
  .contact-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .contact-button:hover {
    background-color: #0056b3;
  }
  
  .contact-form {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .contact-form h2 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 10px;
    color: #333;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .contact-form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .contact-form button:hover {
    background-color: #0056b3;
  }
  
  .success-message {
    color: green;
    font-weight: bold;
  }
  