.container {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 500px;
    margin: auto;
    margin-top: 150px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    background: #fff;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 30px;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    margin-top: 30px;
    width: 100%;
  }

  .text {
    color: #000;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: -50px;
    margin-top: -120px;
  }

  .underline {
    width: 140px;
    height: 5px;
    background: #000;
    border-radius: 9px;
    margin-bottom: 50px;
  }

.inputs {
    margin-top: 0px;
    gap: 50px;
    display: flex;
    flex-direction: column;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
}

.div-size {
    align-items: center;
    margin: auto;
    width: 400px;
    height: 50px;
    background: #eaeaea;
  }


.input img {
    margin: 0px 30px;
    height: 40px;
    width: 40px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
}
    

.input input {
    width: 400px;
    height: 50px;
    border-radius: 5px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
 }

.forgot {
    margin-left: 160px;
    margin-top: 25px;
    color: #797979;
    font-size: 18px;
}

.submit-container {
    display: flex;
    gap: 30px;
    margin: 60px auto;
    justify-content: center;
}

.login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 45px;
    color: white;
    font-size: 19px;
    background: #eccf81;
    font-weight: 700;
    border-radius: 50px;
    cursor: pointer;
}

.gray {
    display: flex;
    background: #eaeaea;
    color: #676767;
    border-radius: 50px;
    width: 140px;
    height: 45px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 19px;
    font-weight: 700;
}
