/* Add this to your footer.css file */

.navi {
  background-color: transparent !important;
  /* Make the background transparent */
  border-top: 1px solid #2eaf7d;
  height: 100px;
  /* Add a border at the top with the specified color */
}

.text-muted {
  color: #c1f6ed !important;
  /* Set the text color */
}

.text-muted:hover {
  color: #d5f6f1 !important;
  /* Change text color on hover */
}