/* Add this to your login.css file */

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #02353c, #449342);
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h2 {
    text-align: center;
    margin-top: 50px;
}

form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #2eaf7d;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.7);
    color: #2eaf7d;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #2eaf7d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #3Fdoc9;
    /* Adjust color on hover */
}

/* Footer styles */
.navbar {
    margin-top: auto;
}

/* Adjust these styles based on your specific design preferences */