@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  background: var(--background);
  overflow-x: clip;
}
