footer{
  background-color: rgb(45, 64, 226);
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.content {
  position: relative;
}


.location{
  display: inline-block;
  color: white;
  margin-bottom: 8px;
  font-size:20x;
  margin-right: 250px;
  vertical-align: top;
}
.footer {
  background-color: rgb(20, 20, 49);
  margin-top: 100px;
  padding: 50px 50px 50px 50px;
  vertical-align: top;
}
 
.contact{
  display: inline-block;
  color: rgb(219, 216, 224);
  margin-right: 20px;
}