.instructorHeader{
  margin-top: 95px;
  text-align: center;
  top: 10%;
  
}

.instructorContact{
  display: grid;
  text-align: center;
  color: rgb(7, 7, 80);
  font-size: 16px;
  grid-template-columns: repeat(2, 1fr);
  padding: 4rem 4rem;
  margin: auto;
  background-color: grey;
}

.box{
  margin-top: 10px;
}

.P-2{
   color: black;
   text-align: start;
}


.instructorContactInfo{
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem;
  height: 250px;
  width: 230px;
}

.tip-box{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgb(12, 3, 19);
  color: #fff;
  gap: 40px;
}

@media screen and (max-width: 760px){
  .tip-box{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      padding-top: 500px;
  }
  .instructorContact{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
  }
  }
.tips h5{
  font-size: 1.2rem;

}
.tips p{
  margin-left: 24px;
  margin-bottom: 10px;
}
.tips h4{
  margin-top: 10px;
}
.forms{
  color: #fff;


}
.forms input{
  border: 1px solid #fff;
  width: 600px;
  height: 30px;
  margin-left: 10px;

}
.forms label{
  display: flex;
  margin-left: 10px;
  margin-top: 15px;
}
.forms textarea{
  width: 600px;
  height: 150px;
  margin-left: 10px;
}