
.missing-grade-report {
  background-color: rgb(243, 241, 236);
  padding: 20px;
  font-family: 'Arial', sans-serif;
  margin: auto;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.missing-grade-report h2 {
  color: #333;
}

.missing-grade-report h3 {
  color: #555;
  margin-top: 0;
}

.missing-grade-report p {
  line-height: 1.5;
  color: #444;
}

.missing-grade-report table {
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;
}

.missing-grade-report th, .missing-grade-report td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.missing-grade-report th {
  background-color: #f2f2f2;
}

.missing-grade-report strong {
  color: #333;
}

.missing-grade-report table,
.missing-grade-report th,
.missing-grade-report td {
  border: 1px solid #ccc;
}

.missing-grade-report td {
  background-color: #fff;
}

.missing-grade-report p:last-child {
  margin-bottom: 0;
}
