/* LandingPage.css */

.landing-page {
    font-family: 'Arial', sans-serif;
    padding: 0;
  }
  

  
  .overview {
    margin:  0;
  }

  .overview-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5px;
  }

 
 

   .imageBox {
    display: flex;
    justify-content: center;
    align-items: center;
   }

  /* @media screen and (max-width: 600px) {
    .imageBox {
      justify-content: center; 
    }
   }*/

   .imageBox cartoon {
    max-width: 100%;
    height: auto;
   }

   @media screen and (max-width: 350px) {
    .overview-grid {
      grid-template-columns: 1fr; 
      text-align: center;
    }
   }

   
    
  

.welcome {
    text-align: center;
}

.overviewBox {
 /*   display: flex;
    margin-left: 25%;
    margin-right: 25%;*/
    font-size: 20px;
    line-height: 1.9;
}

.LoginBox {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LoginButton {
    width: 500px;
    height: 50px;
    background-color: #B6975D;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 50px;
    cursor: pointer;
}

.LoginButton:hover {
  opacity: 0.75;
}

  