.navbar {
  background-color: rgb(87, 41, 41);
  height: 80px;
  /* display: flex; */
  align-items: right;
}
.navbar-brand {
  font-size: 10px;
  border-radius: 5px;
}
.dropdown-menu {
  width: 200px;
  height: 300px;
  border-radius: 5px;
}
ul li a {
  color: aqua;
}
ul li {
  margin-top: 15px;
  font-size: 25px;
  text-align: center;
}
ul li a:hover {
  color: rgb(211, 211, 171);
}
.title {
  color: aqua;
  text-align: center;
  font-size: 45px;
}
