.Header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    border-bottom: solid rgb(149, 225, 248);
    margin-bottom: 20px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 75px;
  
  }
  body{
    padding-top: 75px;
  }
  

  
    .item{
      
      padding: 20px;
      background-color: rgb(149, 225, 248) ;
      border: none;
      margin-right: 15px;
    }
    .item:hover{
      background-color: black;
      color: white;
    }
    .logo{
    height: 70px;
    background-color: transparent;
    
    }
    .grade{
      margin-left: 10px;
      display: flex;
      flex: 1;
      
    }
    h1::first-letter{
     
      
      color: rgb(149, 225, 248);
      font-size: 65px;
    
    }
    .back{
      object-fit: cover;
    }

    
   
    
    
  .footer{
  display: flex;
  flex-direction: row;
  height: 300px;
  background-color: rgb(149, 225, 248) ;
  margin-top: 100px;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid black;
  
  }
  .foot{
  margin: 0;
  display: flex;
  flex-direction: row;
  background-color: rgb(146, 219, 241) ;
  align-items: center;
  justify-content: space-between;
  }
  
  .signup-form {
    display: flex;
  
    
    background-color: #fff;
    border-radius: 8px;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;
    text-align: center;
    justify-content: space-between;
    margin-left: 20px;
    height: 500px;
    
  }

  .signup-form h2 {
    color: #333;
  }

  .form-group {
    margin-bottom: 25px;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
  }

  .form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .form-group input[type="submit"] {
    background-color: #7aebff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .form-group input[type="submit"]:hover {
    background-color: #45a049;
  }

  /* Add the transform and transition for computer sciences course */
  .computer-sciences-course {
    transform: rotate(5deg);
    transition: transform 0.3s ease;
  }

  /* Add hover effect for the computer sciences course */
  .computer-sciences-course:hover {
    transform: rotate(0);
  }
  
  
    
    
  
    
  