.footer {
    background-color: #153d6f ;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 98.5%;
  }

  .footer p {
    color: #b5975d;
    font-weight: bolder;
  }