body{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #eee;
}
*{
    box-sizing: border-box ;
}
form{
    display: block;
    background-color: #fff;
    box-shadow: 1px 1px 3px 2px #ddd;
    margin:40px auto;
    max-width: 600px;
    max-height: 700px;
    padding:20px 40px;
}
form input, textarea{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px auto;
    padding: 8px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #f3f3f3;
    border:1px solid #ddd;
}
form span{
    color: rgb(135, 212, 238);
}
form button{
    height: 30px;
    width: 70px;
    align-items: center;
    border: none;
    background-color: rgb(135, 212, 238);
    color: #fff;
}