.missing-grade-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  background-color: lightblue;
}

button {
  background-color: #3498db;
  color: black;
  padding: 10px;
  border: none;
  cursor: pointer;
}
