/* MissingGradesAlert.css */
.missing-grades-alert {
    margin-top: 20px;
    padding: 20px;
  }
  
      
  .course-name {
    font-weight: bold;
  }
  
  .alert {
    color: #ff6347; /* Tomato color */
  }
  