.grade-report-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  
  .filter-section {
    display: flex;
    margin-bottom: 20px;
  }
  
  label {
    margin-right: 20px;
  }
  
  select, input {
    padding: 8px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width:fit-content ;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
    color: black;
  }
  
  .semester-container {
    margin-bottom: 30px;
  }
  