
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  h1 {
    margin: 0;
    font-size: 2.5em;
  }
  
 .report {
    max-width: 75%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
  }
  
  
.report {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }
  
.student-info {
    background-color: #153d6f;
    padding: 20px;
    text-align: center;
    max-width: 40;
    margin: 0 auto;
  }
  
  h2 {
    font-size: 2.2rem;
    margin-bottom: 15px;
    color: #032650;
  }

  .oh2 {
    font-size: 2.2rem;
    margin-bottom: 15px;
    color: #bd9c6c;
  }
  
  .info {
    font-size: 16px;
    color: #bd9c6c;
    margin-top: 10px;
  }
  .info p {
    font-size: 1.2rem;
    color: #bd9c6c;
    margin-top: 10px;
  }
  
  .info strong {
    font-weight: bold;
    margin-right: 5px;
    color: #fff;
    font-size: 1.3rem;
  }

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
  }
  
  th, td {
    border-top: 1px solid #ccc;
    padding: 12px 15px;
    text-align: left;
  }
  
  td {
    line-height: 50px;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-transform: uppercase;
  }

  tr:hover {
    background-color: #2e2e2e;
    transition: background-color 0.3s ease-in-out;
  }
  .container {
    text-align: center;
  }

  button.neb {
    padding: 10px 20px;
    color: #032650;
    font-size: 16px;
    border: 2px solid #032650;
    background-color: #0326501f;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

  button.neb:hover {
    background-color: #032650;
    color: #fff;
  }

  