.HelpAndSupportPage {
    text-align: center;
    margin: 20px;
  }
  
  .faq-section,
  .contact-form-section {
    margin-top: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-top: 15px;
  }
  
  label {
    margin-top: 10px;
    display: block;
  }
  
  input,
  textarea {
    margin-top: 5px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
  }
  
  button {
    margin-top: 10px;
    padding: 8px;
    cursor: pointer;
  }
  