*/
.instructor-contact-list {
    max-width: 400px;
    margin: auto;
    padding: 20px ;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 15px;
  }
  
  .instructor-info {
    display: flex;
    justify-content: space-between;
  }
  
  .instructor-name {
    font-weight: bold;
  }
  
  .instructor-email {
    color: #007bff;
    cursor: pointer;
   ;
  }
  