/* LandingPage.css */

body {
  font-family: "Arial", sans-serif;
  margin: 0;
}

.container {
  padding: 30px;
  background-color: transparent; /* Set the background color to transparent */
}

.display-3 {
  color: #007bff;
  margin-bottom: 100px;
  text-align: center;
  height: auto;
  background-color: transparent; /* Set the background color to transparent */
}

.lead {
  color: #0d83eb;
  margin-bottom: 30px;
  text-align: center;
  background-color: transparent; /* Set the background color to transparent */
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.bg-dark {
  background-color: transparent;
  color: #fff;
  padding: 100px;
  margin-top: 10px;
}

h3 {
  color: #0b75e7;
  margin-top: 20px;
}

.text-center2 {
  color: #6c757d;
  margin-top: 20px;
}

/* Styles for Navigation */
.Navigation {
  background-color: #333; /* Customize the background color */
  color: #fff; /* Customize the text color */
  padding: 20px; /* Customize the padding */
}

/* Styles for the main content */
.d-flex-container {
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: transparent; /* Set the background color to transparent */
}

/* Additional styles for the main content if needed */

/* Add any additional styles as needed */
