/* LandingPage.css */

body {
  font-family: "Arial", sans-serif;
  background-color: #f8f9fa;
}
.Navigation {
  background-color: #333; /* Customize the background color */
  color: #fff; /* Customize the text color */
  padding: 20px; /* Customize the padding */
}

.display-3 {
  color: #007bff;
}

.lead {
  color: #e1e9ee;
  font-size: large;
}

img.img-fluid {
  max-width: 100%;
  height: auto;
}

.bg-dark {
  background-color: #0575e5;
}

.text-white {
  color: rgb(85, 3, 207);
}

h3 {
  color: #ebeef1;
}

.text-center2 {
  color: #e5e8ec;
}

/* Add any additional styles as needed */
