/* LandingPage.css */

body {
  font-family: "Arial", sans-serif;
  background-color: #f8f9fa;
}

.display-3 {
  color: #007bff;
}

.lead {
  color: #6c757d;
}

img.img-fluid {
  max-width: 100%;
  height: auto;
}

.bg-dark {
  background-color: #343a40;
}

.text-white {
  color: #fff;
}

h3 {
  color: #007bff;
}

.text-center2 {
  color: #6c757d;
}

/* Add any additional styles as needed */
