



form{
    display:block;
    background-color: #ffff;
    box-shadow: 1px 1px 3px 2px #ddd;
    margin: 40px auto;
    width: 850px;
    height:600px;
    padding: 20px;
    font-family: arial,sans-serif;
    


}
form input,textarea{
    display:flex;
    flex-direction: column;
    width:700px;
    margin-top:10px;
    margin-left:50px;
   padding:10px;
   background-color: #ddd;
   border:1px solid #ddd;
   text-decoration: none;
   font-family:arial,sans-serif; 
   font-size: 15px;

}
