.student{
    background-color: white;
    width: 100%;
    height: 2cm;
    border-radius: 0cm;
    box-shadow: 0 0.188cm 1.550cm rgb(152, 148, 148);
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
.courses{
    background-color: white;
    width: 13cm;
    height: 5cm;
    position:50%;
    margin-top: 5%;
    border-radius: 1cm;
    box-shadow: 0 0.188cm 1.550cm rgb(152, 148, 148);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
      font-family: 'Poppins', sans-serif;

}
.welcome1{
    color: rgb(34, 34, 132);
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}