.App-background{
    height: 50vh;
    width: 100%;
    margin-top: -40px;
   
    

}

.positioning{
    text-align: center;
    position: relative;
    top: 40%;
   
}
.welcome{
 font-size: 18px;
 font-family: 'Poppins', sans-serif;
 text-align: left;
}
.h1-style{
    text-align: center;
}