
.contact-info {
    color: rgb(34, 34, 132);
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    text-align: left;

}

.cover2{
    background-color: white;
    width: 13cm;
    height: 10cm;
    position: 50%;
    border-radius: 1cm;
    box-shadow: 0 0.188cm 1.550cm rgb(152, 148, 148);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}