*{
    margin:0;
    box-sizing: border-box;
}
.page{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



@font-face{
    font-family: 'Maven Pro', sans-serif;
}

.aligment{
    height:100vh ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover{
    background-color: white;
    width: 13cm;
    height: 15cm;
    position: 50%;
    border-radius: 1cm;
    box-shadow: 0 0.188cm 1.550cm rgb(152, 148, 148);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.alt-login{
    width:80%;
    height:3em ;
    display: flex;
    justify-content: space-around;
}

.alt-login  div{
    width: 45%;
    height: 90;
    border-radius: 0.25cm;
    background-color: black;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
.google {
    background-image: url("../components/img/google3.png");
}
.facebook{
    background-image: url("../components/img/facebook2.png");
}
.text{
    font-size: 18px;
    position: relative;
    bottom: -2em;

}
.login-btn{
    font-size: 18px;
    width: 40%;
    height: 3em;
    background-color:rgb(143, 143, 204);
    display: flex;
    justify-content: center;
    padding: 2em;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
    
}
.login-btn:hover{
    transform:scale(1.25);
}
input{
    border: none;
    width: 8cm;
    height: 1cm;
    background-color: rgb(152, 148, 148);
    border-radius: 0.25cm;
    text-align: center;
   
    
}
input:focus{
    outline-color: rgb(152, 148, 148);
}
.hide{
    position:absolute;
    transform: scale(0);
} 
.login-popup{
    position:absolute;
    height: 35em;
    width: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.25em;
    background-color: rgb(0, 0, 0);
    color: white;
    bottom: 0;
    transform: scale(1);
    transition: 1.5s;
}