.side-nav{
    position: absolute;
    top: 160px;
    left: 0px;
    background-color: #479aec;
    width: max-content;
    float: left;
    border-left: solid;
    border-color: rgb(0, 112, 203);
    border-width: 20px;  
    height:75vh;
  }
  
  h2{
    margin-right: 10px;
  }



  .navlistul{
    list-style: none;
    font-size: larger;
  }

  .navlistul li{
    height: 35px;
  }

  .navlistul a {
    text-decoration: none;
  }
  