.header {
  /* display: flex;
  flex-direction: row; */
  /* justify-content: space-between; */
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  color: #b5975d;
}

nav {
  background-color: #153d6f;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  margin-right: 20px;
  gap: 1.3rem;
}

a {
  text-decoration: none;
  color: #ecf0f1;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

a:hover {
  color: #2c3e50;
}

h1 {
  display: flex;
  margin-top: 0px;
}

.a {
  color: red;
}

.b {
  color: white;
}

.c {
  color: black;
}

@media only screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  li {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  a {
    font-size: 10px;
  }
}

@media only screen and (min-width: 200px) and (max-width: 500px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  li {
    margin-right: 12px;
    margin-bottom: 10px;
  }

  a {
    font-size: 9px;
  }

  .ab {
    display: none;
  }
}

/* Media query for medium screens */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  li {
    margin-right: 12px;
  }

  a {
    font-size: 10px;
  }
}