.widget{
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    height: 100px;
    box-shadow: 3px -2px 18px -4px rgba(0,0,0,0.71);
-webkit-box-shadow: 3px -2px 18px -4px rgba(0,0,0,0.71);
-moz-box-shadow: 3px -2px 18px -4px rgba(0,0,0,0.71);
}

.left, .right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titles{
    font-weight: bold;
    font-size: 14px;
    color: gray;
}

.counter{
    font-size: 28px;
    font-weight: 300;
}

.link{
    width: max-content;
    font-size: 12px;
    border-bottom: 1px solid gray;
}

.percentage{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: green;
}

.icon{
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    align-self: flex-end;
}