.main{
    border-top-width: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.login-box {
    border-radius: 10px;
    border-color: #479AEC;
    background-color: #AFD7F4;
    margin-top: 170px;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: inset ridge outset ridge;
    

}

button {
    color: #2576c7;
    background-color: #7ab4ee;
}

button :hover{
    color: #0a4682;
}

.form {
    
    color: #333333;
}