.main{
    border-top-width: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.login-box {
    border-radius: 10px;
    border-color: #479AEC;
    background-color: #AFD7F4;
    width: 500px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: inset ridge outset ridge;
    

}

.form {
    
    color: #333333;
}