.Main {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    width: 100%;
    padding-top: 20px;
    gap: 5px;
  }

.topSection {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.logo {
  margin-top: -10px;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title1 {
  margin-left: 50px;
}


.middleSectionh {
  border-radius: 20px;
  font-size: 14px;
  gap:20px;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 80%;
  background-color: #0000ff80;
  display: flex;
  flex-direction: row;
}

.middleSectionh0 {
  height: 90%;
  width: 47%;
  background-color: white;
}

.m0texth {
  padding: 30px;
}



#dcs {
  margin-top: 150px;
}

.middleSection1h {
  height: 90%;
  width: 47%;
  background-color: white;
}

.m1texth {
  padding: 30px;
}

#Link {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.loginButton {
  background-color: #0000ff7e;
  border-width: 0px;
  border-radius: 50px;
  margin-top: 240px;
  margin-left: 190px;
  width: 110px;
  height: 35px;
  color: white;
}