.Main {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .Main0 {
    background-color: #eee;
    border-radius: 5px;
    height: 440px;
    width: 440px;
    border-top-width: 20px;
    display: flex;
    flex-direction: column;
    border-style: groove groove;
    align-items: center;
    justify-content: center;
  }
  
  .Form {
    border-radius: 5px;
    height: 400px;
    width: 400px;
    border-top-width: 20px;
    border-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  #text00 {
    margin-right: 140px;
  }

  #input {
    border-radius: 5px;
    padding: 2px;
    border-color: white;
    padding-left: 9px;

  }

  #Login {
    background-color: #0000ff7e;
    border-width: 0px;
    border-radius: 50px;
    width: 110px;
    height: 35px;
    color: white;
  }