.grade-report-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .grade-report-title {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    color: #272270;
  }
  
  .semester-filter {
    margin-bottom: 20px;
  }
  
  .semester-filter label {
    font-size: 18px;
    margin-right: 10px;
  }
  
  .grade-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
  }
  
  .grade-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    transition: transform 0.3s ease;
  }
  
  .grade-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  .course-name {
    font-weight: bold;
  }
  
  .course-grade {
    margin-top: 8px;
    color: #555;
  }
  
  .course-semester {
    margin-top: 8px;
    font-size: 14px;
    color: #888;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    position: absolute;
    top: 0;
    right: 100px;
}

.dropdown-button {
    padding: 12px 24px;
    background-color: rgba(8, 8, 87, 0.774);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: 1em;
    transition: background-color 0.3s ease;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.footer {
    background-color: #272270;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  