body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
    
    
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    width: 400px;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.main-content {
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.custom-button {
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background-color: #0056b3;
}
/* Existing styles... */

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    position: absolute;
    top: 0;
    right: 100px;
}

.dropdown-button {
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: 1em;
    transition: background-color 0.3s ease;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
