.Ug {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 80px;
}
.custom-button {
    position: absolute;
    margin-left: 50px ;
    right: 30px;
    padding: 10px 40px; 
    background-color: #007bff; /* Example background color */
    color: #fff; /* Example text color */
    border: none;
    cursor: pointer;
    border-radius: 20px;
}