/* Login.css */

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('https://i.pinimg.com/originals/5f/8a/8b/5f8a8be0e8ce9a4f851e60277395651e.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(8px); /* Adjust the blur effect as needed */
}

.login-container {
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 400px;
  position: relative;
  z-index: 1;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Add margin to separate from the container */
}

h2 {
  color: #007bff;
}

label {
  margin: 10px 0;
  font-weight: bold;
  color: #333;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.login-button {
  padding: 12px 20px;
  font-size: 1.2rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #0056b3;
}
