.missing-grade-form-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.missing-grade-form-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
}

.missing-grade-form {
  display: grid;
  grid-gap: 10px;
}

.missing-grade-form label {
  font-weight: bold;
}

.missing-grade-form input,
.missing-grade-form textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-button {
  background-color: #6c5ce7;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #5a4bd1;
}