
a{
  text-decoration: none;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 5rem 0.1rem #ff4da6;
  margin: 6rem 0 -2rem 0;
  border-top-left-radius: 15vh;
  padding: 1rem;
}
.f-content{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}

.f-items{
  flex-basis: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1.5rem;
}

.f-items h3{
  margin: 1rem 0;
}


.f-items .svg-inline--fa{
  font-size: 1.3rem;
  transition: 1s ease;
  padding: 0.2rem;
  
}

.f-items .svg-inline--fa:hover{
  box-shadow: 0 0 2px 4px #ff4da6;
  cursor: pointer;
  border-radius: 50%;
  transform: translateY(-50%);
}

.copy{
  border-top:  2px solid white;
  width: 100%;
  text-align: center;
  padding: 1rem;
}

@media screen and (max-width: 1024px){
  .f-items{
    flex-basis: 40%;
  }

  footer{
    margin-top: 40%;
  }

  .f-items .svg-inline--fa:hover{
    transform: translateY(0);
  }

  .f-items .svg-inline--fa{
    font-size: 2rem;
  }
}

@media screen and (max-width: 576px){
  .f-items{
    flex-basis: 100%;
  }
  .icon-footer{
    flex-basis: 40%;
  }
}