:root{
  --font-size-normal: 2vh;
  --back-color1: #ff4da6;
  --back-color2: #b30059;
}


header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  color: white;
  background: linear-gradient( var(--back-color1), var(--back-color2));
  position: relative;
  z-index: 10;
}


.nowrap{
  white-space: nowrap;
}


.logo-section{
  margin: 0 1rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.menu-btn{
  display: none;
}

nav ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem; 
}

nav ul li{
  list-style: none;
  font-size: var(--font-size-normal);
  transition: 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

nav ul li .link-style{
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
  display: block;
}



nav ul li .link-style:hover{
  border-radius: 30rem;
  cursor: pointer;
  background: linear-gradient(#b30059, #ff4da6); 
}

@media screen and  (max-width: 1024px) {
  :root{
    --font-size-normal: 1rem:
  }

  header, nav ul{
    flex-direction: column;
  }

  .logo-section{
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }

  .menu-btn{
    display: block;
    background: transparent;
    color: white;
    border: none;
    outline: none;
    font-size: var(--font-size-normal);
    padding: 1rem;
    cursor: pointer;
  }

  nav ul {
    background: linear-gradient(#b30059, #ff4da6);
    position: absolute;
    top: 100.5%;
    left: -100%;
    width: 50%;
    gap: 0.5rem;
    transition: 0.5s ease;
    justify-content: center;
    z-index: 1;
  }
  .menu-open{
    left: 0;
  }
  nav ul li{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
  }
  nav ul li .link-style{
    width: 100%;
    text-align: center;
    padding: 1rem 0;
  }

  nav ul li:last-child{
    margin-bottom: 355%;
  }
  nav ul li .link-style:hover{
    background: rgba(255, 255, 255, 0.3);
  }
}

