.container, .faqs, .intro, .main-faqs, .mail-us, .support-form, .support-form form p{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}


.send-us{
  text-decoration: underline;
}


.container, .intro, .main-faqs, .support-form{
  flex-direction: column;
}

.faqs{
  flex-wrap: wrap;
  padding: 1rem;
  height: 115svh;
  gap: 2rem;
}

.intro{
  flex-basis: 25%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.intro h2{
  text-align: center;
  width: 50%;
}

.intro p{
  text-align: justify;
}

.main-faqs{
  flex-basis: 65%;
  width: 100%;
  padding: 1rem;
}

.main-faqs .question-tab{
  position: relative;
  padding: 1rem;
  overflow: hidden;
  box-shadow: 0 0 10px 5px rgba(179, 0, 89, 1);
}

.main-faqs .question-tab input{
  appearance: none;
}


.main-faqs .question-tab label{
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 1rem;
}

.main-faqs .question-tab label:after{
  content: "+";
  font-size: 2rem;
  font-weight: bolder;
  position: absolute;
  right: 5%;
  color: rgba(255,255,255,0.5);
  transition: all 1s;
}

.main-faqs .question-tab:hover label:after{
  color: white;
}

.main-faqs .question-tab input:checked ~ label::after{
  transform: rotate(135deg);
  color: white;
}

.main-faqs .question-tab label h2:first-child{
  background-color: rgba(179, 0, 89, 1);
  padding: 1rem;
  margin: 0 0.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

.main-faqs .question-tab label h2:last-child{
  position: relative;
  font-weight: 500;
  z-index: 0;
  margin-bottom: 0.6rem;
}

.main-faqs .question-tab .answers{
  text-align: justify;
  max-height: 0;
  overflow: hidden;
  transition: 1s;
}

.main-faqs .question-tab input:checked ~ .answers{
  max-height: 100svh;
}

.main-faqs .question-tab .answers p{
  position: relative;
  z-index: 0;
}

.main-faqs .question-tab input:checked ~ label h2:first-child{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  color: rgba(255,255,255,0.5);
  font-size: 5rem;
  justify-content: flex-end;
  padding: 1rem;
  border-radius: 0;
}



.mail-us{
  width: 100%;
  margin-top: 10rem;
}

.support-form{
  width: 100%;
  height: 100%;
}

.support-form h2{
  margin: 1rem;
}

.support-form form input, .support-form form textarea, .support-form form button, .support-form input[type="file"]::-webkit-file-upload-button{
  background-color: rgba(179, 0, 89, 0.5);
  border: none;
  outline: none;
  padding: 1rem;
  border-radius: 2rem;
}

.support-form form textarea{
  font-family: inherit;
  padding: 2rem;
}

.support-form form input::placeholder, .support-form form textarea::placeholder{
  color: white;
}

.support-form form input:focus, .support-form form textarea:focus,  .support-form button:hover{
  background-color: rgba(179, 0, 89, 1);
}

.support-form input[type="file"]{
  padding: 0 0.5rem;
  cursor: pointer;
}


.support-form input[type="file"]::-webkit-file-upload-button{
  background-color:  rgba(179, 0, 89, 1);
  padding: 1rem;
  color: white;
  transform: translateX(-10%);
  border-right: 5px solid rgba(255,255,255,0.5);
}

.support-form input[type="file"]::-webkit-file-upload-button:hover{
  background-color:   rgba(179, 0, 89, 0.5);
  cursor: pointer;
}

.support-form button{
  width: 50%;
}


@media screen and (max-width: 576px) {
  .intro, .main-faqs{
    flex-basis: auto;
    width: 100%;
  }  
  
  .intro{
    height: fit-content;
    padding: 1rem;
  }

  .mail-us{
    padding-top: 25rem;
  }

  .support-form form p{
    flex-direction: column;
    width: 100%;
  }

  .support-form form p input,  .support-form form button, .support-form form textarea{
    width: 90%;
  }

  .support-form input[type="file"]::-webkit-file-upload-button{
    width: 50%;
  }
}

