

.body-part, .login-box{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.body-part{
  width: 100%;
  min-height: 100svh;
}

.login-box{
  height: 30rem;
  gap: 1rem;
  box-shadow: 0 0 10px 5px #b30059;
  margin: 1rem;
  border-radius: 10px;
  overflow: hidden;
}

.box-item{
  flex-basis: 45%;
  padding: 2rem;
}

.box-item h2{
  text-align: center;
  font-size: 2rem;
}

/* .box-item:first-child{
 
  margin-left: 12rem;
} */

.box-item .input-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid white;
  border-radius: 20rem;
  margin: 1.5rem 0;
  padding: 0 1.5rem;
}

.box-item .input-box:focus-within{
  border: 2px solid #b30059;
}


.input-box input{
  background-color: transparent;
  padding: 1rem;
  border: none;
  outline: none;
}

.input-box input::placeholder{
  color: white;
  font-weight: bold;
}


.box-item form button{
    background-image: linear-gradient(#ff4da6, #800033);
    outline: none;
    border: none;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 20rem;
    font-size: 1.5rem;
    font-family: inherit;
}



.box-item form button:hover{
  background-image: linear-gradient(#800033, #ff4da6)
}

.box-item:last-child{
  align-items: flex-start;
  height: 200%;
  padding: 0 15rem;
  z-index: -1;
  background: #800033;
  transform: rotateZ(-45deg) translateX(35%);
  position: relative;
  border-left: 3px double #ff4da6;
}

.last{
  position: absolute;
  width: 50%;
  height: 100%;
  text-align: center;
  transform: rotateZ(45deg) translateX(-80%) translateY(55%);
}


@media screen and  (max-width: 768px) {
  .box-item:last-child, .last{
   display: none;
   
  }
  .body-part{
    background-image: linear-gradient(45deg, #800033, #800033, #800033,#800033,transparent,  black, black, black, black);
  }
  .login-box{
    backdrop-filter: blur(60px);
  }
}


