/* Original styles for larger screens */
.navbar {
  display: flex;
  justify-content: space-around;
  padding: 16px;
  box-shadow: 0 1px 3px -2px black;
}

.nav-logo img {
  width: 150px;
  height: 100px;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 40px;
  color: rgb(15, 15, 132);
  font-size: 23px;
  font-weight: 500;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
}

.nav-menu hr {
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background: gold;
}


/* Responsive styles for smaller screens */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .nav-menu {
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
  }

  .nav-menu li {
    margin-bottom: 5px;
  }

}