.navbar {
    width: 100% !important;
    height: 100px;
    border-bottom: 0.5px solid #fff; 
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #3e3e3e;
  }
  
.wrapper {
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 0 !important;
    padding: 20px;
    justify-content: space-between;
    width: 100% !important; 
    box-shadow: none !important;
  }

  .search{
    display: flex;
    align-items: center;
    border: 0.5px solid lightgray;
    padding: 3px;
  }

  input{
    border: none;
    outline: none;
    background-color: transparent;
  }

  input::placeholder{
    font-size: 12px;
  }
  
.items {
    display: flex;
    align-items: center;
  }

  .item{
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .avatar{
    width: 30px;
    height: 30px;
    border-radius: 50px;
  }
  