:root {
    --colorOne: #DCECFC;
    --colorTwo: #142E5F;
    --colorThree: #324D90;
}

.Dashboard {
    padding: 9px;
    display: flex;
    height: 100dvh;
}

.sidebar {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18%;
    border-radius: 8px;
    font-size: 1em;
    background: #060f20;
}

.user {
    margin-top: 14px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgba(255, 255, 255, 0.089);
    color: white;
    font-weight: 400;
    font-size: 0.89em;
    border-radius: 6px;
}

.user img {
    margin-right: 10px;
    width: 40px;
    border-radius: 50%;
}

.horizontal-line {
    width: 100%;
    height: 1px;
    background: #fff;
    margin-top: 16px;
    margin-bottom: 16px;
}

.active {
    background: white;
    font-weight: 500;
    color: #060f20;
}

.nav-links {
    display: flex;
    justify-content: left;
    padding: 5px 5px 5px 20px ;
    align-items: center;
    font-size: 0.89em;
    width: 100%;
    border-radius: 6px;
    margin-bottom: 12px;
}

.non-active {
    color: #fff;
    background: rgba(255, 255, 255, 0.089);

}

.link-icon {
    margin-right: 13px;
    font-size: 2em;
}

.dashboard-logo {
    margin-top: 10px;
    display: flex;
}

.dashboard-logo-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    font-size: 1em;
    font-weight: 600;
    background: var(--colorOne);
    color: var(--colorTwo);
    border-radius: 50%;
}

.dashboard-logo-name {
    user-select: none;
    display: flex;
    align-items: center;
    margin-left: 8px;
    font-size: 1em;
    font-weight: 500;
    color: white;
}

.dashboard-content {
    margin-left: 9px;
    border-radius: 8px;
    width: 82%;
    background: var(--colorOne);
}
