.date-time-container {
  text-align: center;
  margin-top: 20px;
}

.welcome-text {
  font-size: 20px;
  margin-bottom: 10px;
}

.date-time-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0678ea;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(199, 6, 6, 0.1);
  margin-top: 20px;
}

.icon {
  font-size: 2em;
  margin-right: 15px;
}

.text {
  text-align: left;
  color: black;
}

.time-text,
.date-text {
  margin: 0;
}

/* Add more styles as needed */
