/* Add this to your existing CSS */
footer {
    background-color: purple;
    color: #fff;
    padding: 20px 10px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
  }
  
  .footer-section {
    width: 100%;
    margin-bottom: 20px; /* Added margin for spacing between sections */
  }
  
  .footer-section h4 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #ffca52;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 5px;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
  }
  .footer-section ul li a:hover {
    color: #ffca52; /* Change this color to the desired hover color */
  }
  
  .address p {
    margin: 5px 0;
  }
  
  .footer-bottom {
    background-color: #111;
    text-align: center;
    padding: 10px 0;
    font-size: 14px; /* Adjusted font size for responsiveness */
  }
  