/* Add your styles here */

.homepage-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

header {
  text-align: center;
  margin-bottom: 20px;
  color: #0066cc;
}

main {
  margin-top: 20px;
}

.landing-page {
  background-color: #f0f8ff; /* Light blue */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 102, 204, 0.1);
}

.landing-page h2 {
  color: #0066cc;
}

.landing-page p {
  color: #333;
}

.navigation-links {
  margin-top: 20px;
}

.navigation-links h2 {
  color: #0066cc;
}

.navigation-links a {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  color: #0066cc;
}

footer {
  margin-top: 50px;
  text-align: center;
  padding: 10px;
  background-color: #f0f0f0;
}


