* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.login-cover h1{
    text-align: center;
    color: rgba(53, 162, 235, 5);
}

.login-cover{
        margin-left: 35%;
        margin-top: 10%;
        padding: 30px;
        width: 500px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
}


.login-cover input, textarea{
    font-style: italic;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 10px;
    margin: 8px 0;
}

input{
    border: 1px solid grey;
    border-radius: 0.3em;
    height: 30px;
}

input:focus{
    outline-color: black;
}

.login-cover p{
    color: red;
    font-style: italic;
}

.login-button{
    width: 80%;
    height: 2.5em;
    background-color: rgb(32, 177, 255);
    display: flex;
    margin-left: 25px;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.3em;
    cursor: pointer;
}

.login-button:hover{
    transform: scale(1.1);
    color: white;
}

.pass-reset{
    margin-left: 35%;
    cursor: pointer;
    color: gray;
}

.pass-reset:hover{
    color: rgb(32, 177, 255);
}

.hide{
    display: none;
}

.login-popup{
    margin-top: -40%;
    margin-left: 20%;
    height: 13em;
    width: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.3em;
    color: white;
    background-color: black;
    transform: scale(1);
    transform: 1.5s;
}

