.Report{
    position: absolute;
    top: 250px;
    left: 650px;
}


.Report h1{
    text-decoration: underline;
position: relative;
top: -90px;
right: 30px;

}


.Report .COURSENAME{
    position: absolute;
    top: 10px;
    left: 4px;
    width: 60%;
    height: 150%;




}

.Report .INSTRUCTOR{
    position: absolute;
    top: 70px;
    left: 4px;
    width: 60%;
    height: 100%;
    
}

.Report .XPGRADE{
    position: absolute;
    top: 130px;
    left: 3px;
    width: 60%;
    height: 100%;
    
}


.Report .REASON{
    position: absolute;
    top: 200px;
    left: 5px;
    width: 60%;
    height: 100%;
}


.Submitbtn{
    position: absolute;
    top: 250px;
    left: 60px;
}