.nav {
    overflow:hidden ;
    
   
}

.nav ul{
    
     float: right;
    display: flex;
    list-style: none;
    font-size: 15px;
    font-style: oblique;
    gap: 20px;
    padding: 30px;
    text-decoration: underline;
}

