/* LoginPage.css */

.container {
    width: 300px;
    margin: auto;
    text-align: center;
    padding-top: 50px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .formGroup {
    margin-bottom: 15px;
  }
  
  label {
    margin-right: 10px;
  }
  
  input {
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  