body {
    color: #040468;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.logo{
    height: 3em;
    width: 18em;
}

.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#login-form {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

button {
    margin-top: 2em;
    display: inline-block;
    padding: 10px 20px;
    background-color: #bd9c6c;
    color: white;
    text-decoration: none;
    border-radius: 7px;
    transition: transform 0.3s ease-in-out;
    z-index: 3;
}

button:hover {
    transform: scale(1.1);
}
