.root {}

.CF {
    height: 100vh;
    margin-left: 60px;
    background-color: #5A5A5A;
}

.F {
    border-radius: 7px;
    border: 3px solid #4E4D4D;
    width: auto;
    text-align: start;
    height: 80vh;
    margin-top: 0px;
    background-color: #FFFFFF;
}