.footer{
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    width: 90%;
    margin-bottom: 10px;
    backdrop-filter: blur(10px);
    outline: white;
    outline-style: groove;
    border-radius: 8px;
    padding: 30px;
    color: white;
    line-height: 1.9;
}

.footer:link{
    color: white;
}


@media only screen and (max-width: 480px) {
    .footer{
        padding: 10px;
    }
  }