.root {}

.vid {
    background-color: #090505;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.cas {
    display: flex;
    flex-direction: row;
}

.frt {
    color: white;
    text-align: center;
}

.whi {
    background-color: white;
}

.uni {
    background-color: #454141;
}

.csv {
    display: flex;
    flex-direction: column;
}

.cri {}

.tw {
    display: flex;
    flex-direction: column;
    height: 50vw;
}

.divi {
    height: 25vw;
    margin: 20px;
    width: 70%;
}

.vii {
    color: white;
    text-align: center;
    border: 1px solid white;
    width: 80%;
    margin-left: 30px;
    height: 40vh;
    margin-top: 10px;
}

.h3 {
    text-align: start;
}

.h3 {}

.h3 {}

.liv {
    height: 90vh;
    background-color: black;
    display: flex;
    flex-direction: row;
}

.mii {
    width: 50%;
}

.mii {}