/* Login.css */

body {
    font-family: Arial, sans-serif;
}

.login-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #7c67e2;
}

.login-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container label {
    margin-bottom: 5px;
}

.login-container input {
    margin-bottom: 20px;
    padding: 5px;
    font-size: 16px;
}

.login-container button {
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #45a049;
}

.login-container a {
    text-align: center;
    margin-top: 20px;
    color: #000;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}