
.footer {
    margin-top: 50px;
    bottom: 0;
    width: 100%;
    background-color: #c91e1e; /* Customize the background color */
    color: white; /* Customize the text color */
    text-align: center;
    padding: 15px 0;
  }
  