.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0e1225;
  padding: 15px;
}

.leftside,
.rightside {
  display: flex;
  align-items: center;
}

.leftside img {
  width: 150px;
  height: auto;
}

.rightside a {
  color: #f5f5f5;
  text-decoration: none;
  margin-left: 20px;
  font-size: 15px;
}

.rightside a:hover {
  color: #2e4bd8;
}

.navbar .rightSide button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.navbar .rightSide svg {
  font-size: 40px;
}

.navbar #open {
  padding-left: 0px;
}
.navbar #open img {
  display: none;
}

.navbar #close img {
  display: inherit;
}

.navbar #open .hiddenLinks {
  display: inherit;
  margin-left: 30px;
}

.navbar #close .hiddenLinks {
  display: none;
}

.navbar #open a {
  width: 70px;
  margin: 5px;
}

@media only screen and (max-width: 900px) {
  .navbar .rightSide a {
    width: 70px;
  }
  .navbar .leftSide {
    padding-left: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .navbar .rightside a {
    display: none;
  }
  .navbar .rightside {
    justify-content: flex-end;
    padding-right: 50px;
  }
  .navbar .rightside button {
    display: inherit;
  }
}

@media only screen and (min-width: 600px) {
  .navbar .rightside button {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }
}
