.hero-container{
  position:relative;
  width:100%;
  height: 100%;
  
}

.hero-container img{
  position:fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.overview-section{
  position:absolute;
  top:-200px;
  left:300px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 600px;
  

}

.overview-section h2{
  position:absolute;
  font-family: sans-serif;
  display: flex;
  color:rgb(255, 255, 255);
 font-weight: bold;
 font-size:50px;
  
  }
  .overview-section p{
    position:absolute;
    font-family: sans-serif;
    width: 350px;
    color:aliceblue;
   margin-top: 290px;
   font-size:23px;
  }
  .page-image{
    position: absolute;
    width:500px;
    height:300px;
    left:800px;
    top:80px;
    bottom:500px;
  }
  .page-image img{
    width:500px;
    height:500px;
    object-fit: cover;
    z-index:2;
  }
  .card-container{
    position: absolute;
    left:100px;
    top:600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
  }
  
  .student-login-details{
    position:fixed;
   display: flex;
   flex-direction: column;
   margin-left:900px;
    margin-top:200px;
  }
  .student-id-container,
  .studnent-pin-container{
    position: relative;
    
  }
  .student-id-container input,
  .student-pin-container input{
    width:300px;
    height:50px;
    margin-bottom: 30px;
    padding-left: 30px;
    border:1px solid #ffffff;
    border-radius:150px;
    background:transparent;
    color:white ;
  }
  .student-id-container input::placeholder,
  .student-pin-container input::placeholder{
    color:white;
  }
  .student-id-container div,
  .student-pin-container div{
    position: absolute;
    right:-50px;
    bottom:3px;
    opacity:0;
    color:black;
    background-color: white;
    padding:5px 10px 5px 10px;
    font-size: 12px;
    pointer-events: none;
  }
  .student-id-container:hover div,
  .student-id-container:hover div{
    opacity:1;
  }
  .submit-button-container{
    position: fixed;
    margin-left: 900px;
    margin-top: 350px;
    
  }
  .submit-button-container button{
    position:absolute;
    left:50px;
    width: 200px;
    height: 50px;
    border-radius: 100px;
    background-color: rgb(205, 153, 56);
    color:white;
    font-size: 18px;
  }
  
  .page-welcome-note-container{
  margin-left:550px;
  margin-top:70px;
  position: relative;
  }
  .page-welcome-note-container h3{
    color:rgb(30, 25, 25);

  }
  .page-welcome-note-container p{
    font-size: 18px;
    color:black;
    position: absolute;
    left:150px;
  }
  .search-input-container{
    position: relative;
    margin-left:450px;
    margin-top: 50px;
    width: 600px;
    
  }
  .search-input input{
    width:600px;
    padding-left: 20px;
  }
 
  .search-icon-container{
    position: absolute;
    right:10px;
    bottom: 5px;
    width: 15px;
  }
  .search-icon-container img{
    width: 100%;
  }
  .faq-section-header{
    border:1px solid white;
    margin-left: 350px;
    margin-top: 80px;
    margin-bottom: -80px;
    width: 300px;
    display: flex;
    justify-content: center;
  }
  .contact-form-header{
    border:1px solid white;
    width:300px;
    display: flex;
    justify-content: center;
    margin-left:1000px;
    margin-top:60px ;
    margin-bottom: 0px;
  }
  .contact-form-container{
    position: relative;
    display:flex;
    flex-direction: column;
    margin-left: 900px;
    margin-top: 30px;
    border:1px solid rgb(32, 27, 27);
    background-color:transparent;
    width: 500px;
    height: 400px;
  }
  .contact-form-container p{
    font-weight: 500px;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .id-container,
  .email-container,
  .message-button-container{
    width:400px;
    margin-left:30px;
  }
  .message-container{
    width:400px;
    height: 200px;
    margin-left:30px;
  }
  .id-container input,
  .email-container input{
    width: 100%;
    padding-left: 20px;
  }
  .message-container textarea{
    width: 100%;
    height: 80%;
  }
  .message-button-container button{
    width: 100%;
    margin-top:10px;
    background-color: rgb(181, 214, 242);
  }
  .grade-form-background-image-container{
    opacity: 0.9;
    background-color: aliceblue;
  }
  .page-note-container {
    margin-top: 30px;
    margin-left: 500px;
    position: fixed;
  }
  .page-note-container{
    color:white;
  }
  .missing-grade-form{
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-left: 550px;
    margin-top:80px;
    width:600px;
    height:600px;
    background-color: white;
    border:2px solid black;
  }
  .course-name-container,
  .instructor-name-container,
  .expected-grade-container,
  .explanation-container{
    margin-left:30px;
    padding-left:20px;
    margin-bottom:20px;
    margin-top: 10px;
  }
  .course-name-container p,
  .instructor-name-container p,
  .expected-grade-container p,
  .explanation-container p{
    color:rgb(24, 24, 24);
    font-size: 18px;
    margin-bottom:0px;
  }
  .course-name-container input,
  .expected-grade-container input,
  .instructor-name-container input{
    width: 500px;
    background-color: #eee;
    padding-left: 20px;
    border:none;
    outline:none;
    border-radius: 125px;
  }
  .course-name-container input::placeholder,
  .instructor-name-container  input::placeholder{
    color:#bbb;
  }
  .explanation-container textarea{
    width:500px;
    height:200px;
    background-color: #eee;
    border:none;
    outline:none;
    border-radius: 10px;
  }

  .submit1-button-container{
    margin-left:30px;
    display:flex;
    justify-content: center;
  }
.submit1-button-container button{
  padding:5px 20px 5px 20px;
}

.message{
  width:100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.message .success{
  color:green;
  position: absolute;
  animation: buttons .3s linear;
  display: none;
}
.message .empty{
  color:red;
  position:absolute;
  animation:buttons .3s linear;
  transition: .3s;
  display: none;
}

@keyframes buttons{
  0%{
    transform: scale(0.1);
  }
  50%{
    transform: scale(0.5);
  }
  100%{
    transform: scale(1);
  }
}

.page-content-container{
  position: relative;
  margin-top: 80px;
  margin-left:400px;
  border:2px solid black;
  background-color: #eee;
  width: 800px;
  height: 3000px;
}
.page-header-box{
  position: absolute;
  left:-600px;
  width:500px;
  margin-left: 700px;
  display:flex;
  justify-content: center;
}
.page-header-box h2{
 color:black;
 font-size:40px;
}
.instructors-box{
  position: absolute;
  top:60px;
  left: 20px;
 display:grid;
 column-gap: 20px;
 row-gap: 20px;
 grid-template-columns: 300px 300px;
}
.image-box{
  width:300px;
  height:300px;
  border: 1px solid black;
}
.image-box img{
  width: 100%;
  height:100%;
  object-fit: cover;
}
.instructor-details{
  width:300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}