.overview-section{
  position:absolute;
  top:-200px;
  left:300px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 600px;
  

}

.overview-section h2{
  position:absolute;
  font-family: sans-serif;
  display: flex;
  color:rgb(255, 255, 255);
 font-weight: bold;
 font-size:50px;
  
  }
  .overview-section p{
    position:absolute;
    font-family: sans-serif;
    width: 350px;
    color:aliceblue;
   margin-top: 290px;
   font-size:23px;
  }
  .page-image{
    position: absolute;
    width:500px;
    height:300px;
    left:800px;
    top:80px;
    bottom:500px;
  }
  .page-image img{
    width:500px;
    height:500px;
    object-fit: cover;
    z-index:2;
  }
  .card-container{
    position: absolute;
    left:200px;
    top:800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
  }
  
  