.navbar{
width:1500px;
height:50px;
display: flex;
flex-direction: row;
}
.navbar-container{
  background-color: rgb(44, 42, 42);
  position:fixed;
  width:1500px;
height:50px;
}
.tabs-container{
position:absolute;
left:900px;
top:0px;
display: flex;
}

.nav-link{
  color:aliceblue !important;
  
}

.school-logo{
  display:flex;
  width:180px;
  height: 50px;
  margin-left:90px;
  margin-top:10px;
}
.school-logo img{
  width: 80%;
  height:80%;
  object-fit:contain;
}

