

.full-page{
    height: 100vh;
    width: 100%;
    background: linear-gradient( white, rgb(0, 183, 255));
   
}

.login{
    font-size: 50px;
    
    color: rgb(60, 14, 167);
    font-weight: bold;
}


.form-box{
    max-width: 600px;
    min-width: 400px;
	height: 450px;
    margin: 0 auto;
	position: relative;
    top: 0px;
    left: 30%;
	background: rgba(0,0,0,0.6);
}

.main-heading{
    color: orangered;
    padding-bottom: 20px;
}

.form{
	position: relative;
	margin: 0 auto 100px;
	padding: 45px;
    text-align: center;
}

.form input{
	font-family: sans-serif;
	outline: none;
    border: none;
    border-bottom: 1px solid black;
	width: 90%;
	margin: 0 0 15px;
	padding: 15px;
	font-size: 14px;
}

.form button{
	font-family: sans-serif;
	width: 80%;
    color: white;
	font-size: 14px;
	cursor: pointer;
	padding: 15px;
    border: none;
    background: coral;
}

.form .message{
    font-size: 12px;
	margin: 15px 0 0;
    color: white;
}

.form .message a{
	color: rgb(255, 68, 0);
	text-decoration: none;
    font-size: 20px;
}

.form .register-form{
	display: none;
}

.defination{
    text-align: left;
    font-size: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 60px;
    font-size: 4rem;
}

.message{
    font-size: 20px;
}