.section1 {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-image: linear-gradient(rgb(9, 5, 54, 0.3), rgb(5, 4, 46, 0.7)), url("https://plus.unsplash.com/premium_photo-1664285864903-8f7daf0eb3a9?q=80&w=1738&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  }

 .container {
    position: initial;
    justify-content: center;
    max-width: 700px;
    width: 100%;
    width: 600px;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0.1);
 }

 .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
  
 }

 .text {
  font-size: 48px;
  color: #3c009d;
  font-weight: 700;
 }

 .underline{
  width: 61px;
  height: 6px;
  background: #3c009d;
  border-radius: 9px;
 }

 .inputs {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 25px;
 }

 .input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 480px;
  height: 80px;
  background: #eaeaea;
  border-radius: 6px;
 }

 .input input {
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 19px;
 }

 .forget-password {
  padding-left: 62px;
  margin-top: 27px;
  color: #797979;
  font-size: 18px;

 }

 .forget-password span {
  color: #4c00b4;
  cursor: pointer;
 }

 .submit-container {
  display: flex;
  margin-left: 250px;
  gap: 30px;
  margin: 60px auto;
  align-items: center;
 }


 .submit{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 59px;
  color: #fff;
  background: #4c00b4;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
 }


 


   