*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .raws{
    padding: 0;
    margin: 0;
  }
nav{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(54, 27, 174);
    padding: 20px 80px;
    border-radius: 25px;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);  */
}
.daslogo{
    background: url("../component/images/logo.jpg");
    width: 75px;
    height: 88px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    float: left;
}
img{
    width: 15%;
    
}
#navbar {
    /* width: 100%;
    top: 0;
    min-height: 15vh;
    z-index: 997; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 200;
    text-transform: uppercase;
    color: #fff;
    transition: 0.3s ease-in-out;
    }
#navbar li a:hover{
    color: rgb(229, 132, 22);
    } 
/* #navbar li a:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: rgb(225, 52, 52);
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s linear;
    } */
/* #navbar li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
} */

#navbar li a:hover::after,
#navbar li a.active::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #b7cf17;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#mobile {
    display: none;
}
#mobile i{
    color: #fff;
}
@media screen and (max-width:700px){
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 90px;
        right: -300px;
        width: 300px;
        height: 100vh;
        background: black;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 40px 0 0 10px;
        transition: 0.3s ease-in-out;
    }
    #navbar.active {
        right: 0px;
    }

#navbar li{
    margin-bottom: 25px;
}
#mobile {
    display: block;
}
#mobile i{
    font-size: 24px;
    cursor: pointer;
    }
}


