body {
    margin: 0;
    font-family: Arial, sans-serif;
   }
   
   .landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    background-color: #f0f0f0;
   }
   
   .landing-page section {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
   }
   
   .landing-page section h1 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
   }
   
   .landing-page section p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
   }
   
   .landing-page section button {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
   }
   
   .landing-page section button:hover {
    background-color: #f0f0f0;
   }