form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
   }
   
   label {
    display: block;
    margin-bottom: 10px;
   }
   
   .h1-center {
    text-align: center;
   }

   input,
   textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
   }
   
   .reportButton {
    width: 100%;
    padding: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
   }
   
   button:hover {
    background-color: #0056b3;
   }

   .box {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 600px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
   }