
@import url('https://fonts.googleapis.com/css2?family=poppins:wght@400;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: "Poppins",sans-serif;;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p{
  font-size: 1rem;
}
h2{
  font-size: 2rem;
  font-weight: 700;
}
h1{
  font-size: 2rem;
  font-weight: 900;
  color: white;
}
a{
    text-decoration: none;
    font-size: 0.8rem;
}
li{
    list-style: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containerr{
    width: 100%;
    margin: auto;
    padding: 30px 0px;

}
.dashboard-nav{
    padding: 20px;
    border: 1px solid #8c1515;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: auto;
}

.dash-navlinks>ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #8c1515;
}
.dash-navlinks>ul>li>a{
    color: #8c1515;
    font-size: .9rem;
    transition: .3s ease;
    padding: 10px;
}
.dash-navlinks>ul>li>a:hover{
   
    border-radius: 10px;
    background-color: #8c1515;
    color: white;
}
.user{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #969595;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}
.user:hover{
    cursor: pointer;
}
.studentinfo{
    padding: 20px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.studentinfo>section{
    padding: 20px;
    width: 30%;
    background-color: #8c1515;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0,0,0,8);
}
.table-alerts{
    width: 90%;
    padding: 10px;
    margin: auto;
    display: flex;
}
.talerts{
    width: 30%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    border: 2px solid silver;
    padding: 10px;
    
    align-items: center;
}
.talerts>section{
    padding: 20px;
    background-color: white;
    width: 80%;
    box-shadow: 0 0 10px rgba(0,0,0,8);
}
.table{
    width: 60%;
    margin: auto;
    padding: 5vh 0;
    border: 2px solid silver;
}
tr{
    text-align: left;
    border: 1px solid silver;
}
th{
    padding: 10px;
    border: 2px solid silver;
    color: #8c1515;
}
td{
    padding: 10px;
}
tbody tr td {
    border-bottom: 1px solid silver;
    background-color:silver;
    color: rgb(67, 66, 66);
}
.talerts>button{
    padding: 10px;
    background-color: #8c1515;
    color: white;
    width: 50%;
    border: none;
}