*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    
}
.alertboxx{
    padding: 20px;
    background-color: rgb(159, 248, 159);
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
    float: right;
    margin-top: 10px;
    width: 25vw;
    position: absolute;
    left: 72vw;
    top: 0;
    right: 20vw;
    color: white;
    border-radius: 8px;
    position: fixed;
    z-index: 1000;
    display: block;
    }
.afterhead{
    width: 90%;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.imdlink{
    width: 100%;
    color: silver;
}
.imdlink>a{
    color: #8c1515;
    padding-left: 20px;
    text-decoration: underline;
}
.h3{
    color: rgb(72, 72, 72);
}
.report{
    width: 100%;
}
.report>a{
    float: right;
    color: #a6a4a4;
}
.LRform{
display: flex;
padding: 40px;
background-color: #d9d8d8;
gap: 1rem;
border-radius: 10px;
}
.L{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    padding: 10px;
}
.lLinks{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.L>h3{
    font-weight: 800;
    color: #6d6d6d;
}
.L>a{
    color: #8c1515;
    background-color:#f3f2f2;
    padding: 10px;
}
.lLinks>li{
    color: #6d6d6d;
    padding-bottom: 2px;
}
.lLinks>li:hover{
    cursor: pointer;
}
.R{
    width: 70%;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.innerDiv{
    background-color: #6d6d6d;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 1rem;
    width: 90%;
}
.innerDiv>p{
    color: white;
}
.innerDiv>input{
    padding: 20px;
    width: 60%;
    
}
.faqqs{
    width: 85%;
    margin: auto;
    margin-top: 4vh;
    margin-bottom: 10px;
}

.faqqs>h3{
    color:#8c1515;
    padding-bottom: 10px;
}
.faqqs>ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.faqqs>ul>li{
    padding: 20px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}
.faqqs>ul>li>a{
    color: #6d6d6d;
}
.faqqs>ul>li>button{
    padding: 10px;
    background-color: #8c1515;
    color: white;
    border: none;
    font-size: .8rem;
    border-radius: 5px;
}