

@media screen and (max-width:450px) {
    

.ibottomSection {
    background-color: #eee;

}

.ibottomSectionmain {
    margin: 20px;
    
}

}


@media screen and (max-width:800px) {
    

    .ibottomSection {
        background-color: #eee;
    
    }
    
    .ibottomSectionmain {
        margin: 20px;
    }
    
    }