.background-image {
    height: 100vh;
    width: 100%;
}
.text-over-image {
    position: absolute;
    top: 200px; 
    left: 50px; 
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px black; 
   }