

.footer_container{
    background-color: #3e3d3d;
    display: grid;
    grid-template-columns: 40% 50%;
    grid-template-rows: 350px;
    column-gap: 60px;
    
}

.footer_section{
    border: 2px solid rgb(50, 48, 48);
    margin-left: 100px;
}

.first_section_item_1{
    margin-top: 40px;
    color: white;
}

.email{
    margin-left: 23px;
    width: 400px;
    height: 60px;
    background-color: #222222;
    border: none;
}

.textbox{
    margin-left: 125px;
    height: 150px;
    width: 400px;
    background-color: #191919;
    border: none;
}

::placeholder{
    font-weight: 400;
    padding: 20px;
    font-family: sans-serif;
    font-size: 18px;
}

label{
    color: white;
    font-size: 22px;

}

