table{
    background-color: azure;
    width: fill;

}


th{
    color: rgb(102, 75, 7);
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 30px;
    border: 0.5px solid rgb(107, 97, 97);
    text-align: center;
}
tr{
    width: 400px;
    border: 1px solid black;
}
td{
    border: 0.5px solid black;
    text-align: center;
    height: 30px;
    color: rgb(118, 118, 240);
}

select{
    width: 200px;
    border: none;
    background-color: rgb(94, 94, 232);
    color: white;
}

.gradetitle{
    font-size: 28px;
    text-align: center;
    margin-top: 18px;
}


#report_container{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 60px 60px;
    margin-left: 30px;
    text-align: center;
    margin-top: 30px;
    color: red;
    row-gap: 20px;
}
.report_button{
    width: 60px;
    height: 36px;
    color: white;
    background: blue;
    border: none;
   
    padding: 5px;
    
}