





#hero_image{
    width: 100%;
    height: 600px;
    
    position: relative;
}
  

  .hero-text {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 85%;
    transform: translate(-50%, -50%);
    color: rgb(82, 82, 237);
  }

  p{
    font-size: 22px;
  }

  h1{
    font-size: 64px;
    font-family: sans-serif;
    
  }

  .login_btn{
    width: 170px;
    height: 60px;
    border-radius: 10px;
    border: none;
    background-color: rgb(82, 82, 237);
    color: white;
    font-size: 22px;
  }

  h4{
    color: rgb(70, 52, 5);
    margin: 100px;
  }