@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

body{
  font-family: 'poppins', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p{
  font-size: 1rem;
}
h2{
  font-size: 2rem;
  font-weight: 700;
}
h1{
  font-size: 2.5rem;
  font-weight: 900;
}
.flexColumn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.flexRow{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}