/* Add this CSS to your existing stylesheet or create a new one */

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  width: 1000px;
}

nav {
  text-align: center;
  background-color: #07144c;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  transition: background-color 0.3s;
}

a:hover {
  background-color: #7e780c;
}
