
.App{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    padding: 30px;
    column-gap: 10px;
    row-gap: 10px;
    background-color: #3d0303;
    overflow: hidden;
    font-family: Arial;
    font-size: 21px;
}
