@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background: url("https://4kwallpapers.com/images/wallpapers/macos-big-sur-apple-layers-fluidic-colorful-dark-wwdc-2020-3840x2160-1432.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.container {
  background: rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
  backdrop-filter: blur(30px);
  border-radius: 15px;
  width: 100%;
  height: 100%;
  position: relative;
  max-width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  position: relative;
}

section.window--buttons {
  position: absolute;
  top: 15px;
  left: 15px;
}

section.window--buttons .window__close {
  width: 1.5rem;
  height: 1.5rem;
  background: #f00;
  display: inline-block;
  border-radius: 50%;
  transition: 0.3s ease;
}

section.window--buttons .window__minimize {
  margin-left: 5px;
  width: 1.5rem;
  height: 1.5rem;
  background: #f57c00;
  display: inline-block;
  border-radius: 50%;
  transition: 0.3s ease;
}

section.window--buttons .window__maximize {
  margin-left: 5px;
  width: 1.5rem;
  height: 1.5rem;
  background: #4caf50;
  display: inline-block;
  border-radius: 50%;
  transition: 0.3s ease;
}

aside {
  overflow: scroll;
  height: 90%;
  margin-top: 20px;
  float: left;
  width: 200px;
  position: sticky;
  top: 0;
}

aside button {
  display: block;
  margin-top: 7px;
  margin-left: 15px;
  padding: 0.7rem 4rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  background: none;
  width: 170px;
  border-radius: 10px;
  border: 0;
  color: white;
  transition: 0.2s ease;
  cursor: pointer;
}

aside button:hover,
aside button.active {
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(20px);
}

aside input[type="text"] {
  font-size: 1.5rem;
  width: 170px;
  margin-left: 15px;
  padding: 0.9rem;
  border-radius: 10px;
  background: #000;
  color: #fff;
  font-family: "Poppins", sans-serif;
  border: 0;
  outline: 0;
  text-align: center;
  transition: 0.3s ease;
  background: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
}

aside input[type="text"]::-webkit-input-placeholder {
  text-align: center;
}

aside input[type="text"]:-moz-placeholder {
  text-align: center;
}

aside input[type="text"]::-moz-placeholder {
  text-align: center;
}

aside input[type="text"]:-ms-input-placeholder {
  text-align: center;
}

aside .profile {
  position: absolute;
  left: 15px;
  display: flex;
  bottom: 15px;
  align-items: center;
}

aside .profile--pic {
  width: 4rem;
  border-radius: 50%;
}

aside h1 {
  color: #fff;
  font-weight: 400;
  margin-left: 10px;
  font-size: 1.3rem;
}

.content {
  color: white;
  padding: 15px;
  border-radius: 30px;
  height: 90%;
  margin-right: 20px;
  overflow: scroll;
}

.content .ideas {
  display: flex;
}

.content .ideas .idea {
  background: var(--component-background);
  width: 50%;
  padding: 20px;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  transition: 0.3s ease;
}

.content .ideas .idea:nth-of-type(2) {
  margin-left: 15px;
}

.content .ideas .idea p {
  color: gray;
  font-size: 1.2rem;
}

.content .ideas .idea:hover {
  transform: scale(1.06);
}

.content .updates {
  margin-top: 20px;
}

.content .updates h1:nth-of-type(1) {
  font-size: 2.2rem;
}

.content .updates .update {
  width: 100%;
  background: var(--component-background);
  padding: 1.3rem 0.7rem;
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.4s ease;
}

.content .updates .update:hover {
  transform: scale(1.03);
}

.content .updates .update .updt-left {
  display: flex;
  align-items: center;
}

.content .updates .update .updt-left h1 {
  font-size: 1.7rem;
  margin-left: 10px;
}

.content .updates .update .updt-left img {
  width: 35px;
}

.content .updates .update .buttons button {
  background: none;
  color: dodgerblue;
  border: 0;
  font-size: 1.6rem;
  transition: 0.2s ease;
  cursor: pointer;
}

.content .updates .update .buttons button:hover {
  color: blue;
}

.content .trending {
  margin-top: 20px;
}

.content .trending h1:nth-last-of-type(1) {
  font-size: 2.2rem;
}

.content .trending .grid {
  display: grid;
  grid-template-rows: repeat(4, 25%);
  grid-template-columns: 25% 25% 25% 25%;
  margin-top: 10px;
  gap: 5px;
}

.content .trending .grid .grid__app {
  background: var(--component-background);
  padding: 13px;
  display: inline-block;
  display: flex;
  height: fit-content;
  border-radius: 10px;
  justify-content: space-between;
}

.content .trending .grid .grid__app.margin {
  margin-top: 20px;
}

.content .trending .grid .grid__app h1 {
  font-size: 1.7rem;
}

.content .trending .grid .grid__app button {
  background: dodgerblue;
  color: #fff;
  border: 0;
  outline: 0;
  border-radius: 30px;
  width: 30%;
  cursor: pointer;
}

.content .links {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
}

.content .links a {
  text-align: center;
  color: #fff;
  font-size: 1.4rem;
}

.content .links a:nth-of-type(3),
.content .links a:nth-of-type(4) {
  margin-top: 7px;
}

@media (max-width: 768px) {
  .content .trending .grid {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(4, 25%);
  }

  aside {
    display: none;
  }

  .links {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }
}
