*{
    background-color: black;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 2rem;
    font-size: 23px;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo-img {
    width: 25rem;
    height: 4rem;
  }
  
  .logo-text {
    margin-left: 10px;
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    gap: 4rem;
  }
  
  .nav-item {
    margin-left: 20px;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
  }
  .sign{
    background-color: blue;
    /* background-color: #579ab8; */
    padding: 10px 50px;
    border-radius: 30px;
  }