/* src/InstructorContactPage.css */
.instructor-contact-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: hwb(8 0% 9%); /* Yellow color for the header */
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    border: 1px solid #0e0c0c;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
  }
  
  button{
    background-color: hsl(6, 100%, 45%); /* Yellow color for the button */
    color: white;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #d46f00; /* Darker shade on hover */
  }
  