/* LandingPage.css */

.landing-page {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content-container {
    text-align: center;
    color: white;
  }
  
  header {
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 2.5rem;
  }
  
  .login-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #003366;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #001a33;
  }
  