/* MissingGradeFormPage.css */

.missing-grade-form-page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .missing-grade-form-container {
    width: 600px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  form {
    width: 100%;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    font-size: 14px;
  }
  
  button {
    background-color: #003366;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #001a33;
  }
  
  .form-error {
    color: red;
    margin-top: 10px;
  }
  
  .navigation-links {
    margin-top: 20px;
  }
  
  .navigation-links a {
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    text-decoration: none;
    background-color: #003366;
    color: white;
    border-radius: 5px;
    text-align: center;
  }
  
  .navigation-links a:hover {
    background-color: #001a33;
  }
  