*::before{
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5;
}
body{
    font-size: 1.0rem;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: aliceblue;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
    background: black;
}
.nav_menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
}
.nav_toggler div{
    width: 3rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: darkgray;
    transition: 0.4s ease-in;
}
.nav_toggler{
    cursor: pointer;
    display: none;
}
@media screen and (max-width:768px){
    .nav_toggler{
        display: block;   
    }
    .nav_menu{
        position: fixed;
        top: 7vh;
        right: 0;
        width: 50%;
        height: 50vh;
        background: black;
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s ease-in;
    } 
}
/*Nav Active Class*/
.nav_active{
    transform: translateX(0);
}
/*Toggler Icon Amimation*/
.toggle .line1{
    transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2{
    opacity:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-4px, -5px);

}
