/*LOGINPAGE*/
.container{
    display:flex;
    align-items: center;
    margin-left:0px;
    padding-left:0px;


}
a.nav-link{
    margin-right: 0;
    margin-left: 40px;   
}


div.me-auto.navbar-nav{
    
}

img.d-inline-block.align-top{
    
   
}
.login-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    background-color:  lightblue;
    padding-bottom: 30px;
    width: 500px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px;

}  

.login-header{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    height:40px;
    margin-top: 30px;
    
}


.login-text{
    color:rgb(23, 23, 103);
    font-size: 30px;
    font-weight:bolder;
    text-align: center;

    
}

.box{
}
 
.login-input1{
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    width:200px;
    height: 40px;
    background-color: beige;
    border-radius: 6px;
    border: none;
}

.login-input2{
    margin-top: 25px;
    align-items: center;
    width: 200px;
    height: 40px;
    background-color: beige;
    border-radius: 6px;
    border: none;
}

.loginbutton{background-color: aliceblue;
    margin-top: 20px;
    border: solid 1px rgb(23, 23, 103);
    padding: 5px 30px 5px 30px;
    border-radius: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}