.container{
    display:flex;
    align-items: center;
    margin-left:120px;
    padding-left:0px;

}
a.nav-link{
    margin-right: 0;
    margin-left: 40px;   
}


div.me-auto.navbar-nav{
    margin-left:280px;
}

img.d-inline-block.align-top{
    margin-right:0;
}
.login-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    background-color: #cfd4d4;
    padding-bottom: 30px;

}  

.login-header{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    height:40px;
    margin-top: 30px;
    border-bottom: 3px solid #504e4e;
}


.login-text{
    color:rgb(175, 183, 183);
    font-size: 28px;
    font-weight: 700px;
    text-align: center;
    
}

.box{

}
 
.login-input1{
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    width:200px;
    height: 40px;
    background-color: beige;
    border-radius: 6px;
    border: none;
}

.login-input2{
    margin-top: 25px;
    align-items: center;
    width: 200px;
    height: 40px;
    background-color: beige;
    border-radius: 6px;
    border: none;


}