/*LOGINPAGE*/
.container{
    display:flex;
    align-items: center;
    margin-left:0px;
    padding-left:0px;


}
a.nav-link{
    margin-right: 0;
    margin-left: 40px;   
}



   

.login-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    background-color:  lightblue;
    padding-bottom: 30px;
    width: 500px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px;

}  

.login-header{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    height:40px;
    margin-top: 30px;
    
}


.login-text{
    color:rgb(23, 23, 103);
    font-size: 30px;
    font-style:inherit;
    font-weight:bolder;
    text-align: center;

    
}


 
.login-input1{
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    width:200px;
    height: 40px;
    background-color: beige;
    border-radius: 6px;
    border: none;
}

.login-input2{
    margin-top: 25px;
    align-items: center;
    width: 200px;
    height: 40px;
    background-color: beige;
    border-radius: 6px;
    border: none;
}

.loginbutton{background-color: aliceblue;
    margin-top: 20px;
    border: solid 1px rgb(23, 23, 103);
    padding: 5px 30px 5px 30px;
    border-radius: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

/*GRADEREPORT*/

.gradetable{
    margin-left: 650px;
    width: 100%;
}


.report-headers{
    margin-left: 60px;
}


/*MISSINGGRADE*/
.missinggrade form label{
    text-align: justify;
}

.namebox{
    margin: auto;
    margin-left: 50px;
    margin-top: 50px;

}

.form-name{
    margin:auto;
    margin-right: 50px;
    width: 300px;
    border:none;
    border-bottom: 1px solid ;
    background-color: azure;
    }


    .form-name2{
        margin:auto;
        width: 650px;
        border:none;
    border-bottom: 1px solid ;
    background-color: azure;
        
    
    }

    .form-name3{
        margin:auto;
        width: 650px;
        height: 80px;
        border:1px solid;
    background-color: azure;
        
    
    }

.missinggrade{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 70px;
    background-color:azure;
    padding-bottom: 30px;
    width: 800px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px;
}



.form-title{
    border-bottom: 1px solid;
    height: 80px;
    background-color: rgb(7, 7, 45);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.form-title h2{
    color: rgb(255, 255, 255);
    margin-top: 18px;
}

.submit-button{
    padding: 4px 18px;
    border-radius: 7px;
    font-family: system-ui;
    font-weight: bolder;
    color:whitesmoke ;
    background-color:rgb(7, 7, 45); ;
    transition: 0.4s;
}

.submit-button:hover{
    padding: 4px 18px;
    border-radius: 7px;
    font-family: system-ui;
    font-size: larger;
    font-weight: bolder;
    color:whitesmoke ;
    background-color:rgb(7, 7, 45); ;
}

.namebox label{
    color:rgb(7, 7, 45); 
    font-weight:500;
}

.id-box label{
    color:rgb(7, 7, 45); 
    font-weight:500;
}

/*HELP AND SUPPORT*/
.help-header{
    height: 130px;
    background-color: rgb(51, 166, 128);
    
}



.search-bar{
    margin-top: 20px;
    
}

.search-bar input{
    width: 400px;
    height: 40px;
    border: none;
}

.acc-box{ 
    width: 800px;
    margin:auto;
}

.contact-support{
    margin-top: 50px;
    border: 1px solid;
    width:800px;
    height: 150px;
    margin: auto;
    margin-top:50px;
    border-radius: 4px;
}

.contact-support-btn{
    margin-top: 110px;
    margin-left: -590px;
    font-family: system-ui;
    font-weight: bolder;
    color:whitesmoke ;
    background-color:rgb(4, 4, 98);
    transition: 0.4s;
    border:none;
    border-radius:6px;
    height:35px;
}


.acc-header{
    color:rgb(4, 4, 98);
    font-size: 20px;
}

.acc-head{
    color:rgb(4, 4, 98);
    font-family: system-ui;
}


/*FOOTER*/
.footer {
background-color: #222;
color: #fff;
padding: 20px 0;
}

.footer h4 {
margin-bottom: 10px;
font-size: 18px;
}

.footer p {
font-size: 14px;
}

.footer ul {
list-style: none;
padding: 0;
margin: 0;
}

.footer li {
margin-bottom: 10px;
}

.footer a {
color: #fff;
text-decoration: none;
}

.footer a:hover {
text-decoration: underline;
}


.footer-heading1{text-decoration: none;
font-size: 40px;
color: whitesmoke;
font-family:Verdana;
text-align:center;
align-items: center;
margin-right:10px;
}

.footer-heading2{text-decoration: none;
font-size: 40px;
color: whitesmoke;
font-family:Verdana;
text-align:center;
align-items: center;
margin-right:10px;
margin-top:30px;
}

.footer-heading3{text-decoration: none;
font-size: 40px;
color: whitesmoke;
font-family:Verdana;
text-align:center;
align-items: center;
margin-right:10px;
margin-top:30px;
}

.social1{
margin-top:20px;
margin-left:590px;
margin-right:20px;
}

.social2{
margin-top:10px;
margin-left:590px;
margin-right:20px;
margin-bottom:0;
}

        
.social-media-links li {
display: inline-block;
margin-right: 10px;
}

.social-media-links li i {
font-size: 20px;
}

.quick-links{
text-align: center;
}

.info-text1{
    font-size: 14px;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    text-align:center;
    }

    /*DASHBOARD*/
    .dash{
        margin-left:150px;
        margin-top:100px;
    }
    .small-grids{
    display:grid;
     width: 300px;
     margin-bottom:36px;
    }

    .progress-bar1{
        width: 80%;
        
    }

    .progress-bar2{
        width: 81%;
    }
    .progress-bar3{
        width: 79%;
    }
    .progress-bar4{
        width: 77%;
    }
    .progress-bar5{
        width: 83%;
    }
    .progress-bar6{
        width: 70%;
    }

    .big-grids{
        display:grid;
        width: 700px;
        margin-bottom: 70px;
        
    }

    .sidebox{ 
    
        margin-left: 750px;
        margin-top: -603px;
        
    }

    .text-center{
        color:rgb(4, 4, 98);
}


    .text-center1{
        color:rgb(4, 4, 98);
        font-size:17px;
    }


    .text-center2{
        color:rgb(4, 4, 98);
        font-size:17px;
        text-align: justify;
    }


