



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}
.containers{
    min-height: 97vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.2), rgba(4, 9, 30, 0.1)), url("../images/yym.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    
}
