*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.login-page {
    display: flex;
    justify-content: center;
    align-items: center;


   

   }
   
   .login-form {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    height: 280px;
    width: 400px;
    margin-bottom: 100px;
   }
   
   .login-form input {
    margin-bottom: 40px;
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 3px;
   }
   
   .login-form button {
    padding: 8px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
   }
   
   @media (max-width: 600px) {
    .login-form {
       width: 90%;
    }
   }
   .titles{
    background-color: #007bff;
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    border-radius: 3px;
    color: #ffff;
    padding: 5px;
   }
   .image{
    width: 180px;
   }
   
   