Contact page
/* ContactPage.css */

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
  }
  
  .contact-container {
    width:100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .dashboard-container{
    display: flex;
  }
   
  /* Sidebar styles */
  .sidebar {
    width: 200px;
    background-color: #333;
    color: #fff;
    padding: 20px;

  }
  
  .sidebar-nav {
    list-style: none;
    padding: 0;
  }
  
  .sidebar-item {
    margin-bottom: 15px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
  }
  
  .sidebar-item:hover {
    color: #ffd700; /* Highlight on hover */
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h1 {
    color: black;
  }
  
  .contact-form {
    margin-bottom: 30px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    color: #333;
  }
  
  input,
  textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .instructor-section {
    text-align: center;
  }
  
  h2 {
    margin-bottom: 10px;
    color: #007bff;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    border-radius: 4px;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease-in-out;
    color: #333;
  }
  
  li:hover {
    background-color: #e0e0e0;
  }
  
  .email-form {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 20px;
  }
  
  h3 {
    margin-bottom: 10px;
    color: #007bff;
  }
  
  p {
    color: #333;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  footer {
    text-align: center;
    color: #35afeb;
    display: flex;
    background-color: #007bff;
  }