homepage
/* src/styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
background-color:rgb(195, 229, 243);

  }
  
  .home-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .header {
    background-color: #4b85db;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }
  
  .logo {
    width: 350px;
    
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-item {
    margin-right: 20px;
    cursor: pointer;
    color: #fff;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-item:hover {
    color: #ffd700; /* Change color on hover */
  }
  
  .main-content {
    padding: 40px;
    flex: 1;
  }
  
  .welcome-section {
    text-align: center;
  }
  
  .main-heading {
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .sub-text {
    color: #666;
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .cta-button {
    background-color: #4b92e3;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .cta-button:hover {
    background-color: #62c2eb; /* Change background color on hover */
  }
  
  .footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer-links {
    margin-top: 10px;
  }
  
  .footer-link {
    color: #fff;
    margin-right: 10px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .footer-link:hover {
    color: #ffd700; /* Change color on hover */
  }
  
