#form-section-container {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .form-container {
      width: 600px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 5px;
    }
    
    label {
      display: block;
      margin-bottom: 8px;
    }
    
    input,
    textarea, select {
      width: 100%;
      padding: 8px;
      margin-bottom: 16px;
      border: 1px solid #ddd;
      border-radius: 4px;
    }
    
    .error-message {
      color: red;
      margin-top: 4px;
    }
    
    button {
      background-color: #0070e7;
      color: #fff;
      padding: 10px 15px;
      border: 2px solid #52a0f3;
      border-radius: 4px;
      cursor: pointer;
    }  