.footer{
    height: 80px;
    background-color: rgb(23, 23, 41);
}

.span1{
    color: white;
    text-align: center;
    margin-left: 540px;
    font-size: 25px;
}

.span2{
    color: white;
    margin-left: 610px;
    margin-top: 10px;

}

.Fb{
    height: 40px;
    position: relative;
    bottom: 10px;
    right: 700px;
}

.Web{
    height: 40px;
    
    position: relative;
    bottom:10px;
    right: 700px;
}

.Li{
    height: 40px;
    position: relative;
    bottom: 10px;
    right: 700px;
}