.loginContainer {
  background: rgba(95, 44, 44, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  backdrop-filter: blur(40px);
}

h2 {
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

label {
  margin-top: 10px;
  color: rgb(5, 5, 5);
}

input {
  padding: 8px;
  margin-top: 5px;
  border: none;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.3);
  color: white;
  width: 100%;
  margin-bottom: 10px;
}

button {
  margin-top: 15px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background: #61dafb;
  color: white;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background: #4fa3d1;
}
