.m-grade-page {
    background: linear-gradient(to bottom right, rgba(26,111,129,1) 55%, rgba(2,0,36,1) 100%);
    margin: 80px 250px 60px 250px;
    padding: 60px 60px 90px;
    border-radius: 30px;
}